@model WarOfEmpires.Models.Markets.MarketModel

@{
    ViewBag.Title = "Buy resources";
}

<h2>Buy resources</h2>

<p>
    On the market you can buy resources other players are trying to sell.
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new {
    data_success_message = "Your resources have been purchased."
})) {
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

    <div class="row">
        @for (var i = 0; i < Model.Merchandise.Count; i++) {
            @Html.HiddenFor(m => m.Merchandise[i].Type)
            @Html.HiddenFor(m => m.Merchandise[i].Name)
            @Html.HiddenFor(m => m.Merchandise[i].AvailableAtLowestPrice)
            @Html.HiddenFor(m => m.Merchandise[i].LowestPrice)
            @Html.HiddenFor(m => m.Merchandise[i].TotalAvailable)
            <div class="col-12 col-md-6 col-lg-3">
                <h4>@Model.Merchandise[i].Name</h4>

                <div class="mb-3">
                    <label>Minimum price</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].LowestPrice.ToString(StringFormat.Integer)</div>                    
                </div>

                <div class="mb-3">
                    <label>Available at minimum price</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].AvailableAtLowestPrice.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label>Total available</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].TotalAvailable.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Merchandise[i].Quantity)
                    @Html.TextBoxFor(m => m.Merchandise[i].Quantity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Merchandise[i].Quantity, null, new { @class = "small form-text text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Merchandise[i].Price)
                    @Html.TextBoxFor(m => m.Merchandise[i].Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Merchandise[i].Price, null, new { @class = "small form-text text-danger" })
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-primary w-100">Buy</button></div>
    </div>
}