@model WarOfEmpires.Models.Markets.MarketModel

@{
    ViewBag.Title = "Sell resources";
}

<h2>Sell resources</h2>

<p>
    Send out new caravans to sell your resources on the market, or call back caravans currently on the market. You are able to send off multiple caravans at once,
    provided you have enough available merchants. Please note that the game collects a 15% tax on all sales.
</p>

<ul class="text-muted">
    <li>Total number of merchants: @Model.TotalMerchants.ToString(StringFormat.Integer)</li>
    <li>Available merchants: @Model.AvailableMerchants.ToString(StringFormat.Integer)</li>
    <li>Capacity per caravan: @Model.CaravanCapacity.ToString(StringFormat.Integer) @Html.Icon("Market")</li>
    <li>Total available capacity: @Model.AvailableCapacity.ToString(StringFormat.Integer) @Html.Icon("Market")</li>
</ul>

@using (Html.BeginForm(null, null, FormMethod.Post, new {
    data_success_message = "Your resources have been sent to the market."
})) {
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })
    @Html.HiddenFor(m => m.TotalMerchants)
    @Html.HiddenFor(m => m.AvailableMerchants)
    @Html.HiddenFor(m => m.CaravanCapacity)
    @Html.HiddenFor(m => m.AvailableCapacity)

    <div class="row">
        <div class="col-2 col-form-label">
        </div>
        <div class="col-2 col-form-label">
            <strong>Minimum price</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Available at minimum price</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Total available</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Quantity</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Price</strong>
        </div>
    </div>


    for (var i = 0; i < Model.Merchandise.Count; i++) {
        @Html.HiddenFor(m => m.Merchandise[i].Type)
        @Html.HiddenFor(m => m.Merchandise[i].Name)
        @Html.HiddenFor(m => m.Merchandise[i].AvailableAtLowestPrice)
        @Html.HiddenFor(m => m.Merchandise[i].LowestPrice)
        @Html.HiddenFor(m => m.Merchandise[i].TotalAvailable)

        <div class="row">
            <div class="col-2 col-form-label">
                <strong>@Model.Merchandise[i].Name</strong>
            </div>
            <div class="col-2 col-form-label">
                @Model.Merchandise[i].LowestPrice.ToString(StringFormat.Integer) @Html.Icon("Gold")
            </div>
            <div class="col-2 col-form-label">
                @Model.Merchandise[i].AvailableAtLowestPrice.ToString(StringFormat.Integer) @Html.Icon(Model.Merchandise[i].Type)
            </div>
            <div class="col-2 col-form-label">
                @Model.Merchandise[i].TotalAvailable.ToString(StringFormat.Integer) @Html.Icon(Model.Merchandise[i].Type)
            </div>
            <div class="col-2">
                @Html.TextBoxFor(m => m.Merchandise[i].Quantity, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Merchandise[i].Quantity, null, new { @class = "small form-text text-danger" })
            </div>
            <div class="col-2">
                @Html.TextBoxFor(m => m.Merchandise[i].Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Merchandise[i].Price, null, new { @class = "small form-text text-danger" })
            </div>
        </div>
    }

    <div class="row">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary form-control">Sell</button>
        </div>
    </div>
}

@{
    Html.RenderAction("Caravans");
}