@model WarOfEmpires.Models.Markets.MarketModel

@{
    ViewBag.Title = "Sell resources";
}

<h2>Sell resources</h2>

<p>
    Send out new caravans to sell your resources on the market, or call back caravans currently on the market. You are able to send off multiple caravans at once,
    provided you have enough available merchants. Please note that the game collects a 15% tax on all sales.
</p>

<ul class="text-muted">
    <li>Total number of merchants: @Model.TotalMerchants.ToString(StringFormat.Integer)</li>
    <li>Available merchants: @Model.AvailableMerchants.ToString(StringFormat.Integer)</li>
    <li>Capacity per caravan: @Model.CaravanCapacity.ToString(StringFormat.Integer) <icon type="Market" /></li>
    <li>Total available capacity: @Model.AvailableCapacity.ToString(StringFormat.Integer) <icon type="Market" /></li>
</ul>

<form method="post" data-success-message="Your resources have been sent to the market.">
    <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

    <input type="hidden" asp-for="TotalMerchants" />
    <input type="hidden" asp-for="AvailableMerchants" />
    <input type="hidden" asp-for="CaravanCapacity" />
    <input type="hidden" asp-for="AvailableCapacity" />

    <div class="row">
        @for (var i = 0; i < Model.Merchandise.Count; i++) {
            <input type="hidden" asp-for="Merchandise[i].Type" />
            <input type="hidden" asp-for="Merchandise[i].Name" />
            <input type="hidden" asp-for="Merchandise[i].AvailableAtLowestPrice" />
            <input type="hidden" asp-for="Merchandise[i].LowestPrice" />
            <input type="hidden" asp-for="Merchandise[i].TotalAvailable" />

            <div class="col-12 col-md-6 col-lg-3">
                <h4>@Model.Merchandise[i].Name</h4>

                <div class="mb-3">
                    <label>Minimum price</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].LowestPrice.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label>Available at minimum price</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].AvailableAtLowestPrice.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label>Total available</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].TotalAvailable.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label asp-for="Merchandise[i].Quantity"></label>
                    <input type="text" asp-for="Merchandise[i].Quantity" class="form-control" />
                    <span asp-validation-for="Merchandise[i].Quantity" class="small form-text text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Merchandise[i].Price"></label>
                    <input type="text" asp-for="Merchandise[i].Price" class="form-control" />
                    <span asp-validation-for="Merchandise[i].Price" class="small form-text text-danger"></span>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-primary w-100">Sell</button></div>
    </div>
</form>

<vc:caravans />