@model WarOfEmpires.Models.Players.CurrentPlayerViewModel

<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-info">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">War of Empires</a>

        <button class="navbar-toggler btn shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon site-toggler-icon"></span>
        </button>

        <div id="navbar-collapse" class="collapse d-lg-inline-flex flex-lg-row-reverse">
            <ul class="navbar-nav ml-auto">
                @if (Model.IsAuthenticated) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-player-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Players
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-player-dropdown">
                            <a asp-controller="Player" asp-action="Home" class="dropdown-item">Home</a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="Player" asp-action="Index" class="dropdown-item">Players</a>
                            <a asp-controller="Alliance" asp-action="Index" class="dropdown-item">Alliances</a>
                            <a asp-controller="Player" asp-action="Blocked" class="dropdown-item">Blocked players</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-attack-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Attacks
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-attack-dropdown">
                            <a id="attack-link" asp-controller="Attack" asp-action="Index" class="dropdown-item">Received</a>
                            <a asp-controller="Attack" asp-action="ExecutedIndex" class="dropdown-item">Executed</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-message-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Messages
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-message-dropdown">
                            <a id="message-link" asp-controller="Message" asp-action="Index" class="dropdown-item">Received</a>
                            <a id="invite-link" asp-controller="Alliance" asp-action="ReceivedInvites" class="dropdown-item">Alliance invites</a>
                            <a asp-controller="Message" asp-action="SentIndex" class="dropdown-item">Sent</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-market-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Market
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-markets-dropdown">
                            <a asp-controller="Market" asp-action="Sell" class="dropdown-item">Sell resources</a>
                            <a id="market-link" asp-controller="Market" asp-action="SellTransactions" class="dropdown-item">Transactions</a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="Market" asp-action="Buy" class="dropdown-item">Buy resources</a>
                            <a asp-controller="Market" asp-action="BuyTransactions" class="dropdown-item">Transactions</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-alliance-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Alliance
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-alliance-dropdown">
                            @if (Model.IsInAlliance) {
                                <a id="alliance-link" asp-controller="Alliance" asp-action="Home" class="dropdown-item">Home</a>

                                if (Model.CanInvite) {
                                    <a asp-controller="Alliance" asp-action="Invites" class="dropdown-item">Invites</a>
                                }

                                if (Model.CanManageRoles) {
                                    <a asp-controller="Alliance" asp-action="Roles" class="dropdown-item">Roles</a>
                                }

                                if (Model.CanManageNonAggressionPacts) {
                                    <a asp-controller="Alliance" asp-action="SentNonAggressionPactRequests" class="dropdown-item">Sent pact requests</a>
                                    <a asp-controller="Alliance" asp-action="ReceivedNonAggressionPactRequests" class="dropdown-item">Received pact requests</a>
                                    <a asp-controller="Alliance" asp-action="NonAggressionPacts" class="dropdown-item">Non-aggression pacts</a>
                                }

                                if (Model.CanManageWars) {
                                    <a asp-controller="Alliance" asp-action="Wars" class="dropdown-item">Wars</a>
                                }

                                if (Model.CanTransferLeadership) {
                                    <a asp-controller="Alliance" asp-action="TransferLeadership" class="dropdown-item">Transfer leadership</a>
                                }

                                if (Model.CanLeaveAlliance) {
                                    <a asp-controller="Alliance" asp-action="Leave" class="dropdown-item">Leave alliance</a>
                                }

                                if (Model.CanDisbandAlliance) {
                                    <a asp-controller="Alliance" asp-action="Disband" class="dropdown-item">Disband alliance</a>
                                }
                            }
                            else {
                                <a asp-controller="Alliance" asp-action="Create" class="dropdown-item">Create</a>
                            }
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-empire-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Empire
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-empire-dropdown">
                            @Html.ActionLink("Workers", "Workers", "Empire", null, new { id = "worker-link", @class = "dropdown-item" })
                            @Html.ActionLink("Tax rate", "Tax", "Empire", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Troops", "Troops", "Empire", null, new { id = "troops-link", @class = "dropdown-item" })
                            @Html.ActionLink("Siege", "Siege", "Empire", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Banking", "Banking", "Empire", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Empire buildings", "EmpireBuildings", "Empire", null, new { id = "empire-buildings-link", @class = "dropdown-item" })
                            @Html.ActionLink("Resource buildings", "ResourceBuildings", "Empire", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Troop buildings", "TroopBuildings", "Empire", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Bank buildings", "BankBuildings", "Empire", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Specialty buildings", "SpecialtyBuildings", "Empire", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-login-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Model.DisplayName
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-login-dropdown">
                            @Html.ActionLink("Change email address", "ChangeEmail", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Change password", "ChangePassword", "Home", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @if (Model.IsAdmin) {
                                @Html.ActionLink("Administration tools", "Index", "Administration", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Users", "Users", "Administration", null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                            }
                            @Html.ActionLink("Deactivate account", "Deactivate", "Home", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { @class = "html-only d-inline" })) {
                                <button type="submit" class="btn btn-link dropdown-item">Log out</button>
                            }
                        </div>
                    </li>
                }
                else {
                    @Html.ActionLink("Log in", "LogIn", "Home", null, new { @class = "nav-link" })
                    @Html.ActionLink("Register", "Register", "Home", null, new { @class = "nav-link" })

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-authentication-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="navbar-authentication-dropdown">
                            @Html.ActionLink("Resend activation", "SendActivation", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Forgot password", "ForgotPassword", "Home", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@if (Model.IsAuthenticated) {
    <resource-header />

    <game-status />
}