@model WarOfEmpires.Models.Empires.ResourcesViewModel

@if (Model.Gold > 0) {
    @Model.Gold.ToString(StringFormat.Integer) <span class="si si-gold"></span>
}

@if (Model.Food > 0) {
    @Model.Food.ToString(StringFormat.Integer) <span class="si si-food"></span>
}

@if (Model.Wood > 0) {
    @Model.Wood.ToString(StringFormat.Integer) <span class="si si-wood"></span>
}

@if (Model.Stone > 0) {
    @Model.Stone.ToString(StringFormat.Integer) <span class="si si-stone"></span>
}

@if (Model.Ore > 0) {
    @Model.Ore.ToString(StringFormat.Integer) <span class="si si-ore"></span>
}

@if (Model.Gold == 0 && Model.Food == 0 && Model.Wood == 0 && Model.Stone == 0 && Model.Ore == 0) {
    @:nothing
}