@model WarOfEmpires.Models.Grids.GridViewModel

<div id="@Model.Id">
</div>

<script type="text/javascript">
    $(function () {
        var columns = [];

        @foreach (var column in Model.Columns) {
            @:columns.push({
            @:  width: @column.Width,
            @:  data: '@column.Data',
            @:  header: '@column.Header',
            if (!string.IsNullOrEmpty(column.SortData)) {
                @:sortData: '@column.SortData',
            }
            if (!string.IsNullOrEmpty(Model.Renderer)) {
                @:renderer: @Model.Renderer,
            }
            @:});
        }

        $('#@Model.Id').datagridview({
            columns
        });

        GridManager.initialize('#@Model.Id', '@Model.DataUrl', '@Model.SortColumn', @(Model.SortDescending ? "true" : "false"), '#@Model.SearchFormId');
    });
</script>