@using Unity;
@using WarOfEmpires;
@using WarOfEmpires.Services;

@{
    var identityService = UnityConfig.Container.Resolve<IAuthenticationService>();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - War of Empires</title>

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/app")

    @Styles.Render("~/Content/css-bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container site-container">
        <nav class="navbar navbar-expand-sm site-navbar">
            <a class="navbar-brand" href="#">War of Empires</a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>

                @if (identityService.IsAuthenticated) {
                    @Html.ActionLink("Players", "Index", "Player", null, new { @class = "nav-link" })

                    @Html.ActionLink("Messages", "Index", "Message", null, new { id="message-link", @class = "nav-link" })

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-empire-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Empire
                        </a>
                        <div class="dropdown-menu site-dropdown-menu" aria-labelledby="navbar-empire-dropdown">
                            @Html.ActionLink("Workers", "Workers", "Empire", null, new { @class = "dropdown-item site-dropdown-item" })
                            @Html.ActionLink("Tax rate", "Tax", "Empire", null, new { @class = "dropdown-item site-dropdown-item" })
                            <div class="dropdown-divider site-dropdown-divider"></div>
                            @Html.ActionLink("Resource buildings", "ResourceBuildings", "Empire", null, new { @class = "dropdown-item site-dropdown-item" })
                            @Html.ActionLink("Troop buildings", "TroopBuildings", "Empire", null, new { @class = "dropdown-item site-dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-login-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @identityService.GetUserName()
                        </a>
                        <div class="dropdown-menu site-dropdown-menu" aria-labelledby="navbar-login-dropdown">
                            @Html.ActionLink("Change email address", "ChangeEmail", "Home", null, new { @class = "dropdown-item site-dropdown-item" })
                            @Html.ActionLink("Change password", "ChangePassword", "Home", null, new { @class = "dropdown-item site-dropdown-item" })
                            <div class="dropdown-divider site-dropdown-divider"></div>
                            @if (identityService.IsAdmin()) {
                                @Html.ActionLink("Administration tools", "Index", "Administration", null, new { @class = "dropdown-item site-dropdown-item" })
                                <div class="dropdown-divider site-dropdown-divider"></div>
                            }
                            @Html.ActionLink("Deactivate account", "Deactivate", "Home", null, new { @class = "dropdown-item site-dropdown-item" })
                            <div class="dropdown-divider site-dropdown-divider"></div>
                            @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { @class = "html-only d-inline" })) {
                                <button type="submit" class="btn btn-link dropdown-item site-dropdown-item">Log out</button>
                            }
                        </div>
                    </li>
                }
                else {
                    @Html.ActionLink("Log in", "LogIn", "Home", null, new { @class = "nav-link" })
                    @Html.ActionLink("Register", "Register", "Home", null, new { @class = "nav-link" })

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-authentication-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </a>
                        <div class="dropdown-menu site-dropdown-menu" aria-labelledby="navbar-authentication-dropdown">
                            @Html.ActionLink("Resend activation", "SendActivation", "Home", null, new { @class = "dropdown-item site-dropdown-item" })
                            @Html.ActionLink("Forgot password", "ForgotPassword", "Home", null, new { @class = "dropdown-item site-dropdown-item" })
                        </div>
                    </li>
                }
            </ul>

        </nav>
        @if (identityService.IsAuthenticated) {
            <div id="empire-resources" class="partial-content site-content-low">
            </div>
        }
    </div>

    <div class="container site-container">
        <div class="site-content">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Scripts", required: false)

    @* Global server-side variables needed before running manager scripts  *@
    <script type="text/javascript">
        $(function () {
            ResourceManager.url = "@Url.Action("_ResourceHeader", "Empire")";
            ResourceManager.refresh();

            NotificationManager.url = "@Url.Action("_Notifications", "Player")";
            NotificationManager.refresh();

            BuildingTotalsManager.url = "@Url.Action("_BuildingTotals", "Empire")";
            BuildingTotalsManager.refresh();
        });
    </script>
</body>
</html>
