<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - War of Empires</title>

    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/_bundle.css" />

        <script src="~/js/_bundle.js"></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/_bundle.min.css" asp-append-version="true" />

        <script src="~/js/_bundle.min.js"></script>
    </environment>
</head>
<body>
    <div class="container py-3">
        @* TODO reenable @Html.Action("_Menu", "Layout") *@
    </div>

    <div class="container py-3">
        <div id="main-content" class="p-3 bg-light">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Scripts", required: false)

    @* Global server-side variables needed before running manager scripts  *@
    <script type="text/javascript">
        ResourceManager.url = "@Url.Action("_ResourceHeader", "Empire")";
        NotificationManager.url = "@Url.Action("GetNotifications", "Player")";
        BuildingTotalsManager.url = "@Url.Action("_BuildingTotals", "Empire")";
        HousingTotalsManager.url = "@Url.Action("_HousingTotals", "Empire")";
    </script>
</body>
</html>