@model WarOfEmpires.Models.Alliances.CreateRoleModel

@{
    ViewBag.Title = "Create role";
}

<h2>Create role</h2>

<p>
    In an alliance, you can assign a role to players to give them an in-alliance title and to give them rights to various alliance actions.
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = "The role has been created." })) {
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mb-3">
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="mb-3">
                @Html.LabelFor(m => m.Name, new { @class = "site-required" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "small form-text text-danger" })
            </div>

            <div class="form-check">
                @Html.CheckBoxFor(m => m.CanInvite, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.CanInvite, new { @class = "form-check-label" })
            </div>

            <div class="form-check">
                @Html.CheckBoxFor(m => m.CanManageRoles, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.CanManageRoles, new { @class = "form-check-label" })
            </div>

            <div class="form-check">
                @Html.CheckBoxFor(m => m.CanDeleteChatMessages, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.CanDeleteChatMessages, new { @class = "form-check-label" })
            </div>

            <div class="form-check">
                @Html.CheckBoxFor(m => m.CanKickMembers, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.CanKickMembers, new { @class = "form-check-label" })
            </div>

            <div class="form-check">
                @Html.CheckBoxFor(m => m.CanManageNonAggressionPacts, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.CanManageNonAggressionPacts, new { @class = "form-check-label" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Create</button></div>
    </div>
}
