@model WarOfEmpires.Models.Alliances.AllianceDetailsViewModel
@inject IAuthorizationService AuthorizationService

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div class="row">
    <div class="col-12">
        <div class="text-end">
            <div class="btn-group">
                @if (Model.CanReceiveNonAggressionPactRequest && AuthorizationService.IsAuthorized(new AllianceAuthorizationRequest() { CanManageNonAggressionPacts = true })) {
                    <a asp-action="@nameof(Alliance.SendNonAggressionPactRequest)" asp-route-id="@Model.Id" class="btn btn-secondary">Send non-aggression pact request</a>
                }

                @if (Model.CanReceiveWarDeclaration && AuthorizationService.IsAuthorized(new AllianceAuthorizationRequest() { CanManageWars = true })) {
                    <a asp-action="@nameof(Alliance.DeclareWar)" asp-route-id="@Model.Id" class="btn btn-secondary">Declare war</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        @if (!string.IsNullOrEmpty(Model.Status)) {
            <div class="mb-3">
                <label>Status</label>
                <div class="form-control site-form-control-status-@Model.Status.ToLower()">@Model.Status</div>
            </div>
        }

        <div class="mb-3">
            <label>Code</label>
            <div class="form-control">@Model.Code</div>
        </div>

        <div class="mb-3">
            <label>Name</label>
            <div class="form-control">@Model.Name</div>
        </div>

        <div class="mb-3">
            <label>Leader</label>
            @if (Model.LeaderId == null) {
                <div class="form-control">@Model.Leader</div>
            }
            else {
                <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@Model.LeaderId" class="w-100 btn btn-secondary text-start">@Model.Leader</a>
            }
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <table class="table table-borderless table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Display name</th>
                    <th>Title</th>
                    <th>Population</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var member in Model.Members) {
                    <tr>
                        <td>
                            <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@member.Id">@member.Rank.ToString(StringFormat.Integer)</a>
                        </td>
                        <td>
                            <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@member.Id">@member.DisplayName</a>
                        </td>
                        <td>
                            <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@member.Id">@member.Title</a>
                        </td>
                        <td>
                            <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@member.Id">@member.Population.ToString(StringFormat.Integer)</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
