@model WarOfEmpires.Models.Alliances.AllianceHomeViewModel
@inject AuthorizationService AuthorizationService

@{
    var canKickMembers = AuthorizationService.IsAuthorized(new AllianceAuthorizationRequest() { CanKickMembers = true });
    var canDeleteChatMessages = AuthorizationService.IsAuthorized(new AllianceAuthorizationRequest() { CanDeleteChatMessages = true });

    ViewBag.Title = $"{Model.Name} - Alliance home";
}

<h2>@Model.Name - Alliance home</h2>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="mb-3">
            <label>Code</label>
            <div class="form-control" readonly="readonly">@Model.Code</div>
        </div>

        <div class="mb-3">
            <label>Name</label>
            <div class="form-control" readonly="readonly">@Model.Name</div>
        </div>

        <div class="mb-3">
            <label>Leader</label>
            @if (Model.LeaderId == null) {
                <div class="form-control" readonly="readonly">@Model.Leader</div>
            }
            else {
                <a asp-controller="Player" asp-action="Details" asp-route-id="@Model.LeaderId" class="w-100 btn btn-secondary text-start">@Model.Leader</a>
            }
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <table class="table table-borderless table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Display name</th>
                    <th>Role</th>
                    <th>Last online</th>

                    @if (canKickMembers) {
                        <th></th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var member in Model.Members) {
                    <tr condition="member.LastOnline > DateTime.UtcNow.AddMinutes(-30)" class-name="bg-highlight">
                        <td>
                            <a asp-controller="Player" asp-action="Details" asp-route-id="@member.Id">@member.Rank.ToString(StringFormat.Integer)</a>
                        </td>
                        <td>
                            <a asp-controller="Player" asp-action="Details" asp-route-id="@member.Id">@member.DisplayName</a>
                        </td>
                        <td>
                            <a asp-controller="Player" asp-action="Details" asp-route-id="@member.Id">@member.Role</a>
                        </td>
                        <td>
                            @if (member.LastOnline.HasValue) {
                                <a asp-controller="Player" asp-action="Details" asp-route-id="@member.Id">@member.LastOnline.Value.ToString(StringFormat.Date)</a>
                            }
                        </td>

                        @if (canKickMembers) {
                            <td>
                                @if (member.Id != Model.LeaderId) {
                                <form asp-action="KickFromAlliance" method="post" data-success-message="The player has been kicked out.">
                                    <input type="hidden" name="id" value="@member.Id" />
                                    <button type="submit" class="btn btn-secondary py-0">X</button>
                                </form>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<h3 class="mt-3">Chat</h3>

<div class="row">
    <div class="col-12 col-lg-6 mb-3 mg-lg-0">
        <form asp-action="PostChatMessage" method="post" data-success-message="Your message has been posted.">
            <div class="mb-3">
                <label asp-for="ChatMessage" class="site-required"></label>
                <textarea asp-for="ChatMessage" class="form-control" rows="8"></textarea>
                <span asp-validation-for="ChatMessage" class="small form-text text-danger"></span>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 offset-md-6"><button type="submit" class="btn btn-primary w-100">Post</button></div>
            </div>
        </form>
    </div>

    <div class="col-12 col-lg-6">
        @foreach (var chatMessage in Model.ChatMessages) {
            <div class="mb-3">
                <label>
                    @if (chatMessage.Player == null) {
                        @:Alliance news from
                    }
                    else if (chatMessage.PlayerId == null) {
                        @chatMessage.Player @: posted on
                    }
                    else {
                        <a asp-controller="Player" asp-action="Details" asp-route-id="ChatMessages[i].Id">@chatMessage.Player</a> @: posted on
                    }

                    @chatMessage.Date.ToString(StringFormat.Date)
                </label>

                @if (canDeleteChatMessages) {
                    <form asp-action="DeleteChatMessage" method="post" data-success-message="The message has been deleted.">
                        <input type="hidden" name="id" value="@chatMessage.Id" />
                        <div class="site-@(chatMessage.Player == null ? "system" : "user")-text"><button type="submit" class="btn float-end p-0">X</button>@chatMessage.Message</div>
                    </form>
                }
                else {
                    <div condition="chatMessage.Player == null" class-name="site-system-text" negative-class-name="site-user-text">@chatMessage.Message</div>
                }
            </div>
        }
    </div>
</div>
