@model WarOfEmpires.Models.Alliances.AllianceSearchModel

@{
    ViewBag.Title = "Alliances";
}

<h2>Alliances</h2>

<form id="alliancesSearch" class="search-form">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end pb-3">
            <button type="submit" class="btn btn-info">@Html.Icon("search")</button>
        </div>
    </div>
</form>

@(await Html.Grid<WarOfEmpires.Models.Alliances.AllianceViewModel>("alliancesGrid", Url.Action("GetAlliances"), Url.Action("Details"), "alliancesSearch"))