@model WarOfEmpires.Models.Alliances.AllianceSearchModel

@{
    ViewBag.Title = "Alliances";
}

<h2>Alliances</h2>

<form id="alliancesSearch" class="search-form">
    <div class="d-flex flex-row">
        <div class="row flex-grow-1">
            <div class="col-2 col-form-label">
                @Html.LabelFor(a => a.Code)
            </div>

            <div class="col-4">
                @Html.TextBoxFor(a => a.Code, new { @class = "form-control" })
            </div>

            <div class="col-2 col-form-label">
                @Html.LabelFor(a => a.Name)
            </div>

            <div class="col-4">
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="pl-2">
            <button type="submit" class="btn btn-info form-control">@Html.Icon("search")</button>
        </div>
    </div>
</form>

<div id="alliancesGrid">
</div>

@section Scripts{
    <script type="text/javascript">
        function allianceRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("Details")?id=' + dataRow.Id }).text(value));
        }

        $(function () {
            $('#alliancesGrid').datagridview({
                columns: [
                    {
                        data: 'Code',
                        header: 'Code',
                        width: 15,
                        renderer: allianceRenderer
                    },
                    {
                        data: 'Name',
                        header: 'Name',
                        width: 40,
                        renderer: allianceRenderer
                    },
                    {
                        data: 'MembersString',
                        sortData: 'Members',
                        header: 'Members',
                        width: 15,
                        renderer: allianceRenderer
                    },
                    {
                        data: 'Leader',
                        header: 'Leader',
                        width: 30,
                        renderer: allianceRenderer
                    }
                ]
            });

            GridManager.initialize('#alliancesGrid', '@Url.Action("GetAlliances")', null, null, '#alliancesSearch');
        });
    </script>
}