@model WarOfEmpires.Models.Alliances.SendInviteModel

@{
    ViewBag.Title = "Send alliance invite";
}

<h2>Send alliance invite</h2>

<p>
    Send an alliance invite to another player below.
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new {
    data_success_message = "An invite has been sent."
})) {
    @Html.HiddenFor(m => m.PlayerId)
    @Html.HiddenFor(m => m.PlayerName)

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="form-group">
                <label>Player</label>
                <div class="form-control" readonly="readonly">@Model.PlayerName</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Subject)
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Subject, null, new { @class = "small form-text text-danger" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Body)
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", rows = 8 })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary form-control">Send</button></div>
    </div>
}
