@model WarOfEmpires.Models.Alliances.ReceivedInviteDetailsViewModel

@{
    ViewBag.Title = "Alliance invite";
}

<h2>Alliance invite</h2>

@using (Html.BeginForm("AcceptInvite", null, FormMethod.Post, new { @class = "html-only" })) {
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AllianceCode)
    @Html.HiddenFor(m => m.AllianceName)
    @Html.HiddenFor(m => m.AllianceId)
    @Html.HiddenFor(m => m.Date)
    @Html.HiddenFor(m => m.Subject)
    @Html.HiddenFor(m => m.Body)

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="mb-3">
                <label>Alliance</label>
                @Html.ActionLink($"{Model.AllianceCode} - {Model.AllianceName}", "Details", "Alliance", new { id = Model.AllianceId }, new { @class = "w-100 btn btn-secondary text-start" })
            </div>

            <div class="mb-3">
                <label>Date received</label>
                <div class="form-control" readonly="readonly">@Model.Date.ToString(StringFormat.Date)</div>
            </div>

            <div class="mb-3">
                <label>Subject</label>
                <div class="form-control" readonly="readonly">@Model.Subject</div>
            </div>

            <div class="site-user-text">@Model.Body </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Accept</button></div>
    </div>
}

@using (Html.BeginForm("RejectInvite", null, FormMethod.Post, new { data_success_message = "The invite has been rejected." })) {
    @Html.HiddenFor(m => m.Id)

    <div class="row mt-3">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-secondary w-100">Reject</button></div>
    </div>
}