@model System.Collections.Generic.IEnumerable<WarOfEmpires.Models.Alliances.ReceivedNonAggressionPactRequestViewModel>

@{
    ViewBag.Title = "Received non-aggression pact requests";
}

<h2>Received non-aggression pact requests</h2>

<p>
    Below you can find the open non-aggression pact requests your alliance has received.
    A non-aggression pact between two alliances prevents members of those alliances to attack each other.
</p>

<div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

<table class="table table-borderless table-striped">
    <thead>
        <tr>
            <th>Alliance code</th>
            <th>Alliance name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var request in Model) {
            <tr>
                <td class="table-form-label">@request.Code</td>
                <td class="table-form-label">@request.Name</td>
                <td>
                    <form asp-action="@nameof(Alliance.AcceptNonAggressionPactRequest)" method="post" data-success-message="The non-aggression pact request has been accepted.">
                        <input type="hidden" name="id" value="@request.Id" />

                        <button type="submit" class="btn btn-primary w-100">
                            <span class="d-none d-lg-inline">Accept</span>
                            <span class="d-lg-none">V</span>
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-action="@nameof(Alliance.RejectNonAggressionPactRequest)" method="post" data-success-message="The non-aggression pact request has been rejected.">
                        <input type="hidden" name="id" value="@request.Id" />

                        <button type="submit" class="btn btn-secondary w-100">
                            <span class="d-none d-lg-inline">Reject</span>
                            <span class="d-lg-none">X</span>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>