@model WarOfEmpires.Models.Alliances.ReceivedInviteDetailsViewModel

@{
    ViewBag.Title = "Alliance invite";
}

<h2>Alliance invite</h2>

<form asp-action="@nameof(Alliance.AcceptInvite)" method="post" class="html-only">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="AllianceCode" />
    <input type="hidden" asp-for="AllianceName" />
    <input type="hidden" asp-for="AllianceId" />
    <input type="hidden" asp-for="Date" />
    <input type="hidden" asp-for="Subject" />
    <input type="hidden" asp-for="Body" />

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label>Alliance</label>
                <a asp-action="@nameof(Alliance.Details)" asp-route-id="@Model.AllianceId" class="w-100 btn btn-secondary text-start">@Model.AllianceCode - @Model.AllianceName</a>
            </div>

            <div class="mb-3">
                <label>Date received</label>
                <div class="form-control">@Model.Date.ToString(StringFormat.Date)</div>
            </div>

            <div class="mb-3">
                <label>Subject</label>
                <div class="form-control">@Model.Subject</div>
            </div>

            <div class="site-user-text">@Model.Body </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Accept</button></div>
    </div>
</form>

<form asp-action="@nameof(Alliance.RejectInvite)" method="post" data-success-message="The invite has been rejected.">
    <input type="hidden" asp-for="Id" />

    <div class="row mt-3">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-secondary w-100">Reject</button></div>
    </div>
</form>
