@model WarOfEmpires.Models.Alliances.RoleDetailsViewModel

@{
    ViewBag.Title = $"Roles - {Model.Name}";
}

<h2>Roles - @Model.Name</h2>

<p>
    In an alliance, you can assign a role to players to give them an in-alliance title and to give them rights to various alliance actions.
</p>

<div class="text-end mb-3">
    <form asp-action="@nameof(Alliance.DeleteRole)" method="post" data-success-message="The role has been deleted.">
        <input type="hidden" asp-for="Id" />

        <div class="btn-group">
            <a asp-action="@nameof(Alliance.SetRole)" asp-route-id="@Model.Id" class="btn btn-primary">Set player role</a>

            <button type="submit" class="btn btn-secondary">Delete role</button>
        </div>
    </form>
</div>

<div class="row">
    @if (Model.Players.Any()) {
        <div class="col-12 col-lg-6">
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Display name</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var player in Model.Players) {
                        <tr>
                            <td class="table-form-label">
                                <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@player.Id">@player.Rank.ToString(StringFormat.Integer)</a>
                            </td>
                            <td class="table-form-label">
                                <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@player.Id">@player.DisplayName</a>
                            </td>
                            <td>
                                <form asp-action="@nameof(Alliance.ClearRole)" method="post" data-success-message="The player's role has been cleared.">
                                    <input type="hidden" name="playerId" value="@player.Id" />
                                    <input type="hidden" asp-for="Id" />

                                    <button type="submit" class="btn btn-secondary w-100">Clear</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    @if (Model.HasRights) {
        <div class="col-12 col-lg-6">
            <h3 class="mt-3">Rights</h3>

            <ul>
                @if (Model.CanInvite) {
                    <li>Can invite new members</li>
                }

                @if (Model.CanManageRoles) {
                    <li>Can manage alliance roles</li>
                }

                @if (Model.CanDeleteChatMessages) {
                    <li>Can delete messages from chat</li>
                }

                @if (Model.CanKickMembers) {
                    <li>Can kick alliance members</li>
                }

                @if (Model.CanManageNonAggressionPacts) {
                    <li>Can manage non-aggression pacts</li>
                }

                @if (Model.CanManageWars) {
                    <li>Can manage wars</li>
                }

                @if (Model.CanBank) {
                    <li>Can bank</li>
                }
            </ul>
        </div>
    }
</div>