@model System.Collections.Generic.IEnumerable<WarOfEmpires.Models.Alliances.WarViewModel>

@{
    ViewBag.Title = "Wars";
}

<h2>Wars</h2>

<p>
    Below you can find the currently active wars your alliance is in.
    A war between two alliances causes attacks between members of those alliances to result in additional casualties.
</p>

<p>
    To end a war, both sides have to declare peace.
</p>

<table class="table table-borderless table-striped">
    <thead>
        <tr>
            <th>Alliance code</th>
            <th>Alliance name</th>
            <th>Peace offered</th>
            <th>Peace declared</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var war in Model) {
            <tr>
                <td class="table-form-label">@war.Code</td>
                <td class="table-form-label">@war.Name</td>
                <td class="table-form-label">@(war.PeaceOffered ? "Yes" : "No")</td>
                <td class="table-form-label">@(war.PeaceDeclared ? "Yes" : "No")</td>
                <td>
                    @if (war.PeaceDeclared) {
                        <form asp-action="@nameof(Alliance.CancelPeaceDeclaration)" method="post" data-success-message="You have cancelled your peace declaration.">
                            <input type="hidden" name="id" value="@war.Id" />

                            <button type="submit" class="btn btn-primary w-100">
                                <span class="d-none d-lg-inline">Cancel peace</span>
                                <span class="d-lg-none">X</span>
                            </button>
                        </form>
                    }
                    else {<form asp-action="@nameof(Alliance.DeclarePeace)" method="post" data-success-message="You have declared peace">
                            <input type="hidden" name="id" value="@war.Id" />

                            <button type="submit" class="btn btn-primary w-100">
                                <span class="d-none d-lg-inline">Declare peace</span>
                                <span class="d-lg-none">V</span>
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>