@model WarOfEmpires.Models.Messages.ReceivedMessageDetailsViewModel

@{
    ViewBag.Title = $"Message";
}

<h2>Message</h2>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="text-right">
            <div class="btn-group">
                @Html.ActionLink("Reply", "Reply", new { messageId = Model.Id }, new { @class = "btn btn-primary float-right" })
            </div>
        </div>

        <div class="form-group">
            <label>Sender</label>
            @Html.TextBox(nameof(Model.Sender), Model.Sender, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Date received</label>            
            @Html.TextBox(nameof(Model.Date), Model.Date.ToString(StringFormat.Date), new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Subject</label>
            @Html.TextBox(nameof(Model.Subject), Model.Subject, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="site-user-text">@Model.Body</div>
    </div>
</div>