@model WarOfEmpires.Models.Messages.ReceivedMessageDetailsViewModel

@{
    ViewBag.Title = $"Message";
}

<h2>Message</h2>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        @if (Model.SenderId != null) {
            <div class="text-end">
                <div class="btn-group">
                    <a asp-action="Reply" asp-route-messageId="@Model.Id" class="btn btn-primary">Reply</a>

                    <form method="post" asp-controller="Player" asp-action="Block" data-success-message="The player has been blocked.">
                        <input type="hidden" name="id" value="@Model.SenderId" />

                        <button type="submit" class="btn btn-secondary site-unrounded-start">Block</button>
                    </form>
                </div>
            </div>
        }

        <div class="mb-3">
            <label>Sender</label>
            @if (Model.SenderId == null) {
                <div class="form-control" readonly="readonly">@Model.Sender</div>
            }
            else {
                <a asp-controller="Player" asp-action="Details" asp-route-id="@Model.SenderId" class="w-100 btn btn-secondary text-start">@Model.Sender</a>
            }
        </div>

        <div class="mb-3">
            <label>Date received</label>
            <div class="form-control" readonly="readonly">@Model.Date.ToString(StringFormat.Date)</div>
        </div>

        <div class="mb-3">
            <label>Subject</label>
            <div class="form-control" readonly="readonly">@Model.Subject</div>
        </div>

        <div class="site-user-text">@Model.Body</div>
    </div>
</div>