@model WarOfEmpires.Models.Messages.MessageModel

@{
    ViewBag.Title = "Send message";
}

<h2>Send message</h2>

<p>
    Send a message to another player below.
</p>

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.RecipientId)
    @Html.HiddenFor(m => m.Recipient)

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="form-group">
                <label>Recipient</label>
                @Html.TextBoxFor(m => m.Recipient, new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Subject, new { @class = "site-required" })
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Subject, null, new { @class = "small form-text text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Body)
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", rows = 8 })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary form-control">Send</button></div>
    </div>
}