@model WarOfEmpires.Models.Messages.MessageModel

@{
    ViewBag.Title = "Send message";
}

<h2>Send message</h2>

<p>
    Send a message to another player below.
</p>

<form method="post" asp-action="@nameof(Message.Send)" data-success-message="Your message has been sent.">
    <input type="hidden" asp-for="RecipientId" />
    <input type="hidden" asp-for="Recipient" />

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label>Recipient</label>
                <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@Model.RecipientId" class="w-100 btn btn-secondary text-start">@Model.Recipient</a>
            </div>

            <div class="mb-3">
                <label asp-for="Subject" class="site-required"></label>
                <input type="text" asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Body"></label>
                <textarea asp-for="Body" class="form-control" rows="8"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Send</button></div>
    </div>
</form>
