@model WarOfEmpires.Models.Messages.SentMessageDetailsViewModel

@{
    ViewBag.Title = $"Sent message";
}

<h2>Sent message</h2>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="mb-3">
            <label>Recipient</label>
            @if (Model.RecipientId == null) {
                <div class="form-control" readonly="readonly">@Model.Recipient</div>
            }
            else {
                <a asp-controller="@Player.Route" asp-action="@nameof(Player.Details)" asp-route-id="@Model.RecipientId" class="w-100 btn btn-secondary text-start">@Model.Recipient</a>
            }
        </div>

        <div class="mb-3">
            <label>Date received</label>
            <div class="form-control" readonly="readonly">@Model.Date.ToString(StringFormat.Date)</div>
        </div>

        <div class="mb-3">
            <label>Subject</label>
            <div class="form-control" readonly="readonly">@Model.Subject</div>
        </div>

        <div class="site-user-text">@Model.Body</div>
    </div>
</div>