@model WarOfEmpires.Models.Attacks.AttackDetailsViewModel

@{
    ViewBag.Title = $"Attack details";
}

<h2>Attack details</h2>

<div class="row">
    <div class="col-3">Attacker</div>

    <div class="col-9">@Model.Attacker</div>
</div>

<div class="row">
    <div class="col-3">Defender</div>

    <div class="col-9">@Model.Defender</div>
</div>

<div class="row">
    <div class="col-3">Date</div>

    <div class="col-9">@Model.Date.ToString(StringFormat.Date)</div>
</div>

<div class="row">
    <div class="col-3">Attack type</div>

    <div class="col-9">@Model.Type</div>
</div>

<div class="row">
    <div class="col-3">Number of turns</div>

    <div class="col-9">@Model.Turns.ToString(StringFormat.Integer)</div>
</div>

<div class="row">
    <div class="col-3">Result</div>

    <div class="col-9">@Model.Result</div>
</div>

@foreach (var round in Model.Rounds) {
    <p>
        <strong>@round.Attacker</strong>'s @round.Troops.ToString(StringFormat.Integer) @round.TroopType charge at the enemy and attack for @round.Damage.ToString(StringFormat.Integer) damage.
        <strong>@round.MercenaryCasualties.ToString(StringFormat.Integer) mercenaries and @round.SoldierCasualties.ToString(StringFormat.Integer) soldiers</strong> die as a result.
    </p>
}

@if (@Model.Result == "Won" || @Model.Result == "Surrendered") {
    <p>
        <strong>
            @Model.Attacker's troops are victorious and take @Model.Resources.Gold.ToString(StringFormat.Integer) gold, @Model.Resources.Food.ToString(StringFormat.Integer) food,
            @Model.Resources.Wood.ToString(StringFormat.Integer) wood, @Model.Resources.Stone.ToString(StringFormat.Integer) stone and
            @Model.Resources.Ore.ToString(StringFormat.Integer) ore as tribute.
        </strong>
    </p>
}