@model WarOfEmpires.Models.Attacks.AttackDetailsViewModel

@{
    ViewBag.Title = $"Attack details";
}

<h2>Attack details</h2>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="mb-3">
            <label>Attacker</label>
            @Html.ActionLink(Model.Attacker, "Details", "Player", new { id = Model.AttackerId }, new { @class = "w-100 btn btn-secondary text-start" })
        </div>

        @if (Model.AttackerAllianceId.HasValue) {
            <div class="mb-3">
                <label>Attacker alliance</label>
                @Html.ActionLink($"{Model.AttackerAllianceCode} - {Model.AttackerAllianceName}", "Details", "Alliance", new { id = Model.AttackerAllianceId }, new { @class = "w-100 btn btn-secondary text-start" })
            </div>
        }
    </div>

    <div class="col-12 col-md-6">
        <div class="mb-3">
            <label>Defender</label>
            @Html.ActionLink(Model.Defender, "Details", "Player", new { id = Model.DefenderId }, new { @class = "w-100 btn btn-secondary text-start" })
        </div>

        @if (Model.DefenderAllianceId.HasValue) {
            <div class="mb-3">
                <label>Defender alliance</label>
                @Html.ActionLink($"{Model.DefenderAllianceCode} - {Model.DefenderAllianceName}", "Details", "Alliance", new { id = Model.DefenderAllianceId }, new { @class = "w-100 btn btn-secondary text-start" })
            </div>
        }
    </div>

    <div class="col-12 col-md-6">
        <div class="mb-3">
            <label>Date</label>
            <div class="form-control" readonly="readonly">@Model.Date.ToString(StringFormat.Date)</div>
        </div>

        <div class="mb-3">
            <label>Attack type</label>
            <div class="form-control" readonly="readonly">@Model.Type</div>
        </div>

        <div class="mb-3">
            <label>Number of turns</label>
            <div class="form-control" readonly="readonly">@Model.Turns.ToString(StringFormat.Integer)</div>
        </div>

        <div class="mb-3">
            <label>Result</label>
            <div class="form-control" readonly="readonly">@Model.Result</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        @foreach (var round in Model.Rounds) {
            <p>
                <strong>@round.Attacker</strong>'s @round.Troops.ToString(StringFormat.Integer) @round.TroopType charge at the enemy and attack for @round.Damage.ToString(StringFormat.Integer) damage.
                <strong>@round.MercenaryCasualties.ToString(StringFormat.Integer) mercenaries and @round.SoldierCasualties.ToString(StringFormat.Integer) soldiers</strong> die as a result.
            </p>
        }

        @if (@Model.Result == "Won" || @Model.Result == "Surrendered") {
            <p>
                <strong>
                    @Model.Attacker's troops are victorious and take as tribute: @Html.DisplayFor(m => m.Resources)
                </strong>
            </p>
        }
    </div>
</div>