@model WarOfEmpires.Models.Attacks.ExecuteAttackModel

@{
    ViewBag.Title = "Attack " + Model.DisplayName;
}

<h2>Attack @Model.DisplayName</h2>

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.DefenderId)

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="mb-3">
                <label>Display name</label>
                <div class="form-control" readonly="readonly">@Model.DisplayName</div>
            </div>

            <div class="mb-3">
                <label>Population</label>
                <div class="form-control" readonly="readonly">@Model.Population.ToString(StringFormat.Integer)</div>
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.AttackType)
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.AttackType, "Raid", new { id = "AttackType-Raid", @class = "form-check-input", @checked = "checked" })
                    <label class="form-check-label" for="AttackType-Raid">Raid <span class="text-muted">- charge your opponent's workers and try to take their resources</span></label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.AttackType, "Assault", new { id = "AttackType-Assault", @class = "form-check-input" })
                    <label class="form-check-label" for="AttackType-Assault">Assault <span class="text-muted">- charge your opponent's defences and try to take their gold</span></label>
                </div>
                @Html.ValidationMessageFor(m => m.AttackType, null, new { @class = "small form-text text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.Turns)
                @Html.TextBoxFor(m => m.Turns, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Turns, null, new { @class = "small form-text text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Attack</button></div>
    </div>
}
