@model WarOfEmpires.Models.Empires.BuildingModel

<h4>@Model.Name</h4>

<p>@Model.Description (@Html.ActionLink("more information", "BuildingUpgrades", "Empire", new { BuildingType = Model.BuildingType }, null))</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = $"Your {Model.Name} was upgraded." })) {
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.BuildingType)
    @Html.HiddenFor(m => m.Level)
    @Html.HiddenFor(m => m.UpdateCost)
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

    <button type="submit" class="btn btn-primary form-control">Upgrade</button>
}

<p class="text-muted">@Html.DisplayFor(m => m.UpdateCost)</p>