@model WarOfEmpires.Models.Empires.BuildingModel

<h4 class="mt-3">@Model.Name</h4>

<p>@Model.Description</p>

<ul class="text-muted">
    <li>Upgrade cost: <vc:resources model="Model.UpdateCost" /></li>
    <li><a asp-action="@nameof(Empire.BuildingUpgrades)" asp-route-buildingType="@Model.BuildingType">More information</a></li>
</ul>

<form asp-action="@nameof(Empire._Building)" method="post" data-success-message="Your @Model.Name was upgraded.">
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Description" />
    <input type="hidden" asp-for="BuildingType" />
    <input type="hidden" asp-for="Level" />
    <input type="hidden" asp-for="UpdateCost.Gold" />
    <input type="hidden" asp-for="UpdateCost.Food" />
    <input type="hidden" asp-for="UpdateCost.Wood" />
    <input type="hidden" asp-for="UpdateCost.Stone" />
    <input type="hidden" asp-for="UpdateCost.Ore" />

    <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

    <button type="submit" class="btn btn-primary w-100">Upgrade</button>
</form>