@model WarOfEmpires.Models.Empires.BuildingModel

<h4>@Model.Name</h4>

<p>@Model.Description</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = $"Your {Model.Name} was upgraded." })) {
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.BuildingType)
    @Html.HiddenFor(m => m.Level)
    @Html.HiddenFor(m => m.UpdateCost.Gold)
    @Html.HiddenFor(m => m.UpdateCost.Food)
    @Html.HiddenFor(m => m.UpdateCost.Wood)
    @Html.HiddenFor(m => m.UpdateCost.Stone)
    @Html.HiddenFor(m => m.UpdateCost.Ore)
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

    <button type="submit" class="btn btn-primary form-control">Upgrade</button>
}

<ul>
    @if (Model.UpdateCost.Gold > 0) {
        <li>Gold: @Model.UpdateCost.Gold</li>
    }

    @if (Model.UpdateCost.Food > 0) {
        <li>Food: @Model.UpdateCost.Food</li>
    }

    @if (Model.UpdateCost.Wood > 0) {
        <li>Wood: @Model.UpdateCost.Wood</li>
    }

    @if (Model.UpdateCost.Stone > 0) {
        <li>Stone: @Model.UpdateCost.Stone</li>
    }

    @if (Model.UpdateCost.Ore > 0) {
        <li>Ore: @Model.UpdateCost.Ore</li>
    }
</ul>