@model WarOfEmpires.Models.Empires.BuildingModel

<h4 class="mt-3">@Model.Name</h4>

<p>@Model.Description</p>

<ul class="text-muted">
    <li>Upgrade cost: @Html.DisplayFor(m => m.UpdateCost)</li>
    <li>@Html.ActionLink("More information", "BuildingUpgrades", "Empire", new { BuildingType = Model.BuildingType }, null)</li>
</ul>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = $"Your {Model.Name} was upgraded." })) {
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.BuildingType)
    @Html.HiddenFor(m => m.Level)
    @Html.HiddenFor(m => m.UpdateCost)

    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

    <button type="submit" class="btn btn-primary w-100">Upgrade</button>
}