@model WarOfEmpires.Models.Empires.ResourceHeaderViewModel

<div class="d-flex flex-row justify-content-end">
    <div class="p-2">Gold: @Model.Resources.Gold</div>
    <div class="p-2">Food: @Model.Resources.Food</div>
    <div class="p-2">Wood: @Model.Resources.Wood</div>
    <div class="p-2">Stone: @Model.Resources.Stone</div>
    <div class="p-2">Ore: @Model.Resources.Ore</div>
    <div class="p-2">Attack turns: @Model.AttackTurns</div>
</div>