@model WarOfEmpires.Models.Empires.ResourcesViewModel

<div class="d-flex flex-row justify-content-end">
    <div class="p-2">Gold: @Model.Gold</div>
    <div class="p-2">Food: @Model.Food</div>
    <div class="p-2">Wood: @Model.Wood</div>
    <div class="p-2">Stone: @Model.Stone</div>
    <div class="p-2">Ore: @Model.Ore</div>
</div>