@model WarOfEmpires.Models.Empires.ResourceHeaderViewModel

<div class="d-flex flex-row justify-content-end">
    <div class="p-2">@Model.Resources.Gold <span class="si si-gold"></span></div>
    <div class="p-2">@Model.Resources.Food <span class="si si-food"></span></div>
    <div class="p-2">@Model.Resources.Wood <span class="si si-wood"></span></div>
    <div class="p-2">@Model.Resources.Stone <span class="si si-stone"></span></div>
    <div class="p-2">@Model.Resources.Ore <span class="si si-ore"></span></div>
    <div class="p-2">@Model.AttackTurns <span class="si si-attack"></span></div>
</div>