@model WarOfEmpires.Models.Empires.BankedResourcesViewModel

@{
    ViewBag.Title = "Banking";
}

<h2>Banking</h2>

<p>
    Here you can bank your gold and resources to hide them from your enemies.
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = "Your resources were stored in their banks." })) {
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })
    @Html.HiddenFor(m => m.Capacity.Gold)
    @Html.HiddenFor(m => m.Capacity.Food)
    @Html.HiddenFor(m => m.Capacity.Wood)
    @Html.HiddenFor(m => m.Capacity.Stone)
    @Html.HiddenFor(m => m.Capacity.Ore)

    @Html.HiddenFor(m => m.BankedResources.Gold)
    @Html.HiddenFor(m => m.BankedResources.Food)
    @Html.HiddenFor(m => m.BankedResources.Wood)
    @Html.HiddenFor(m => m.BankedResources.Stone)
    @Html.HiddenFor(m => m.BankedResources.Ore)

    @Html.HiddenFor(m => m.AvailableCapacity.Gold)
    @Html.HiddenFor(m => m.AvailableCapacity.Food)
    @Html.HiddenFor(m => m.AvailableCapacity.Wood)
    @Html.HiddenFor(m => m.AvailableCapacity.Stone)
    @Html.HiddenFor(m => m.AvailableCapacity.Ore)

    @Html.HiddenFor(m => m.BankableResources.Gold)
    @Html.HiddenFor(m => m.BankableResources.Food)
    @Html.HiddenFor(m => m.BankableResources.Wood)
    @Html.HiddenFor(m => m.BankableResources.Stone)
    @Html.HiddenFor(m => m.BankableResources.Ore)

    <div class="row">
        <div class="col-4 col-form-label">
        </div>
        <div class="col-2 col-form-label">
            <strong>Capacity</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Banked</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Available capacity</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Bankable resources</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            <strong>Gold</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.Capacity.Gold.ToString(StringFormat.Integer) @Html.Icon("Gold")
        </div>
        <div class="col-2 col-form-label">
            @Model.BankedResources.Gold.ToString(StringFormat.Integer) @Html.Icon("Gold")
        </div>
        <div class="col-2 col-form-label">
            @Model.AvailableCapacity.Gold.ToString(StringFormat.Integer) @Html.Icon("Gold")
        </div>
        <div class="col-2 col-form-label">
            <strong>@Model.BankableResources.Gold.ToString(StringFormat.Integer)</strong> @Html.Icon("Gold")
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            <strong>Food</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.Capacity.Food.ToString(StringFormat.Integer) @Html.Icon("Food")
        </div>
        <div class="col-2 col-form-label">
            @Model.BankedResources.Food.ToString(StringFormat.Integer) @Html.Icon("Food")
        </div>
        <div class="col-2 col-form-label">
            @Model.AvailableCapacity.Food.ToString(StringFormat.Integer) @Html.Icon("Food")
        </div>
        <div class="col-2 col-form-label">
            <strong>@Model.BankableResources.Food.ToString(StringFormat.Integer)</strong> @Html.Icon("Food")
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            <strong>Wood</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.Capacity.Wood.ToString(StringFormat.Integer) @Html.Icon("Wood")
        </div>
        <div class="col-2 col-form-label">
            @Model.BankedResources.Wood.ToString(StringFormat.Integer) @Html.Icon("Wood")
        </div>
        <div class="col-2 col-form-label">
            @Model.AvailableCapacity.Wood.ToString(StringFormat.Integer) @Html.Icon("Wood")
        </div>
        <div class="col-2 col-form-label">
            <strong>@Model.BankableResources.Wood.ToString(StringFormat.Integer)</strong> @Html.Icon("Wood")
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            <strong>Stone</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.Capacity.Stone.ToString(StringFormat.Integer) @Html.Icon("Stone")
        </div>
        <div class="col-2 col-form-label">
            @Model.BankedResources.Stone.ToString(StringFormat.Integer) @Html.Icon("Stone")
        </div>
        <div class="col-2 col-form-label">
            @Model.AvailableCapacity.Stone.ToString(StringFormat.Integer) @Html.Icon("Stone")
        </div>
        <div class="col-2 col-form-label">
            <strong>@Model.BankableResources.Stone.ToString(StringFormat.Integer)</strong> @Html.Icon("Stone")
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            <strong>Ore</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.Capacity.Ore.ToString(StringFormat.Integer) @Html.Icon("Ore")
        </div>
        <div class="col-2 col-form-label col-form-label">
            @Model.BankedResources.Ore.ToString(StringFormat.Integer) @Html.Icon("Ore")
        </div>
        <div class="col-2 col-form-label">
            @Model.AvailableCapacity.Ore.ToString(StringFormat.Integer) @Html.Icon("Ore")
        </div>
        <div class="col-2 col-form-label">
            <strong>@Model.BankableResources.Ore.ToString(StringFormat.Integer)</strong> @Html.Icon("Ore")
        </div>
    </div>

    <div class="row">
        <div class="col-10">
        </div>

        <div class="col-2">
            <button type="submit" class="btn btn-secondary form-control">Bank</button>
        </div>
    </div>
}