@model WarOfEmpires.Models.Empires.BuildingUpgradesViewModel

@{
    ViewBag.Title = $"{Model.Name} - Upgrades";
}

<h2>@Model.Name - Upgrades</h2>

<p>Here you can see the cost and bonus you'll get for upgrading your @Model.Name.</p>

<table class="site-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gold</th>
            <th>Food</th>
            <th>Wood</th>
            <th>Stone</th>
            <th>Ore</th>
            <th>Bonus</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var upgrade in Model.Upgrades) {
        <tr>
            <td>@upgrade.Name</td>
            <td>@upgrade.Resources.Gold.ToString(StringFormat.Integer)</td>
            <td>@upgrade.Resources.Food.ToString(StringFormat.Integer)</td>
            <td>@upgrade.Resources.Wood.ToString(StringFormat.Integer)</td>
            <td>@upgrade.Resources.Stone.ToString(StringFormat.Integer)</td>
            <td>@upgrade.Resources.Ore.ToString(StringFormat.Integer)</td>
            <td>@upgrade.Bonus.ToString(StringFormat.Integer)</td>
        </tr>
        }
    </tbody>
</table>