@model WarOfEmpires.Models.Empires.SiegeModel

@{
    ViewBag.Title = "Siege";
}

<h2>Siege</h2>

<p>
    Here you can purchase siege to help you scale your enemies' defences. Each siege weapon is tailored to a specific type of soldier and can
    not be used by other types.
</p>

<ul class="text-muted">
    <li>Siege engineers: @Model.Engineers.ToString(StringFormat.Integer)</li>
    <li>Total siege maintenance provided: @Model.TotalMaintenance.ToString(StringFormat.Integer) <icon type="Siege" /></li>
    <li>Available siege maintenance: @Model.AvailableMaintenance.ToString(StringFormat.Integer) <icon type="Siege" /></li>
</ul>

<form method="post" data-success-message-build="Your new siege weapons have been built." data-success-message-discard="Your siege weapons have been discarded.">
    <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

    <input type="hidden" asp-for="Engineers" />
    <input type="hidden" asp-for="TotalMaintenance" />
    <input type="hidden" asp-for="AvailableMaintenance" />
    <input type="hidden" asp-for="Command" />

    <div class="row">
        @for (var i = 0; i < Model.SiegeWeapons.Count; i++) {
            <input type="hidden" asp-for="SiegeWeapons[i].Type" />
            <input type="hidden" asp-for="SiegeWeapons[i].Cost.Gold" />
            <input type="hidden" asp-for="SiegeWeapons[i].Cost.Food" />
            <input type="hidden" asp-for="SiegeWeapons[i].Cost.Wood" />
            <input type="hidden" asp-for="SiegeWeapons[i].Cost.Stone" />
            <input type="hidden" asp-for="SiegeWeapons[i].Cost.Ore" />
            <input type="hidden" asp-for="SiegeWeapons[i].CurrentCount" />
            <input type="hidden" asp-for="SiegeWeapons[i].CurrentTroopCount" />
            <input type="hidden" asp-for="SiegeWeapons[i].Description" />
            <input type="hidden" asp-for="SiegeWeapons[i].Maintenance" />
            <input type="hidden" asp-for="SiegeWeapons[i].Name" />
            <input type="hidden" asp-for="SiegeWeapons[i].TroopCount" />

            <div class="col-12 col-md-6 col-xl-4">
                <h4 class="mt-3">@Model.SiegeWeapons[i].Name</h4>

                <p>@Model.SiegeWeapons[i].Description</p>

                <ul class="text-muted">
                    <li>Build cost: <vc:resources model="Model.SiegeWeapons[i].Cost" /></li>
                </ul>

                <div class="mb-3">
                    <label>Maintenance per weapon</label>
                    <div class="form-control">@Model.SiegeWeapons[i].Maintenance.ToString(StringFormat.Integer) <icon type="Siege" /></div>
                </div>

                <div class="mb-3">
                    <label>Troops per weapon</label>
                    <div class="form-control">@Model.SiegeWeapons[i].TroopCount.ToString(StringFormat.Integer) <icon type="Siege" /></div>
                </div>

                <div class="mb-3">
                    <label>Current weapons</label>
                    <div class="form-control">@Model.SiegeWeapons[i].CurrentCount.ToString(StringFormat.Integer) <icon type="Siege" /></div>
                </div>

                <div class="mb-3">
                    <label>Troops equipped</label>
                    <div class="form-control">@Model.SiegeWeapons[i].CurrentTroopCount.ToString(StringFormat.Integer) <icon type="Siege" /></div>
                </div>

                <div class="mb-3">
                    <label asp-for="SiegeWeapons[i].Count" class="site-required"></label>
                    <input type="text" asp-for="SiegeWeapons[i].Count" class="form-control" />
                    <span asp-validation-for="SiegeWeapons[i].Count" class="small form-text text-danger"></span>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-primary w-100" value="build">Build</button></div>
    </div>

    <div class="row mt-1">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-secondary w-100" value="discard">Discard</button></div>
    </div>
</form>
