@model WarOfEmpires.Models.Empires.SiegeModel

@{
    ViewBag.Title = "Siege";
}

<h2>Siege</h2>

<p>
    Here you can purchase siege to help you scale your enemies' defences. Each siege weapon is tailored to a specific type of soldier and can
    not be used by other types.
</p>

<ul>
    <li>Siege engineers: @Model.Engineers.ToString(StringFormat.Integer)</li>
    <li>Total siege maintenance provided: @Model.TotalMaintenance.ToString(StringFormat.Integer) <span class="si si-maintenance"></span></li>
    <li>Available siege maintenance: @Model.AvailableMaintenance.ToString(StringFormat.Integer) <span class="si si-maintenance"></span></li>
</ul>

@using (Html.BeginForm(null, null, FormMethod.Post, new {
    data_success_message_build = "Your new siege weapons have been built.",
    data_success_message_discard = "Your siege weapons have been discarded."
})) {
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

    @Html.HiddenFor(m => m.FireArrowsInfo.Cost)
    @Html.HiddenFor(m => m.FireArrowsInfo.CurrentCount)
    @Html.HiddenFor(m => m.FireArrowsInfo.CurrentTroopCount)
    @Html.HiddenFor(m => m.FireArrowsInfo.Description)
    @Html.HiddenFor(m => m.FireArrowsInfo.Maintenance)
    @Html.HiddenFor(m => m.FireArrowsInfo.Name)
    @Html.HiddenFor(m => m.FireArrowsInfo.TroopCount)

    @Html.HiddenFor(m => m.BatteringRamsInfo.Cost)
    @Html.HiddenFor(m => m.BatteringRamsInfo.CurrentCount)
    @Html.HiddenFor(m => m.BatteringRamsInfo.CurrentTroopCount)
    @Html.HiddenFor(m => m.BatteringRamsInfo.Description)
    @Html.HiddenFor(m => m.BatteringRamsInfo.Maintenance)
    @Html.HiddenFor(m => m.BatteringRamsInfo.Name)
    @Html.HiddenFor(m => m.BatteringRamsInfo.TroopCount)

    @Html.HiddenFor(m => m.ScalingLaddersInfo.Cost)
    @Html.HiddenFor(m => m.ScalingLaddersInfo.CurrentCount)
    @Html.HiddenFor(m => m.ScalingLaddersInfo.CurrentTroopCount)
    @Html.HiddenFor(m => m.ScalingLaddersInfo.Description)
    @Html.HiddenFor(m => m.ScalingLaddersInfo.Maintenance)
    @Html.HiddenFor(m => m.ScalingLaddersInfo.Name)
    @Html.HiddenFor(m => m.ScalingLaddersInfo.TroopCount)

    @Html.HiddenFor(m => m.Engineers)
    @Html.HiddenFor(m => m.TotalMaintenance)
    @Html.HiddenFor(m => m.AvailableMaintenance)
    @Html.HiddenFor(m => m.Command)

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-2 col-form-label">
            <strong>Maintenance per weapon</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Troops per weapon</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Current weapons</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Troops equipped</strong>
        </div>
        <div class="col-2">
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-form-label">
            <strong>@Model.FireArrowsInfo.Name</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.FireArrowsInfo.Maintenance.ToString(StringFormat.Integer) <span class="si si-maintenance"></span>
        </div>
        <div class="col-2 col-form-label">
            @Model.FireArrowsInfo.TroopCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.FireArrowsInfo.CurrentCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.FireArrowsInfo.CurrentTroopCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.FireArrows, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FireArrows, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <ul>
        <li>@Model.FireArrowsInfo.Description</li>
        <li>Build cost: @Html.DisplayFor(m => m.FireArrowsInfo.Cost)</li>
    </ul>

    <div class="row">
        <div class="col-2 col-form-label">
            <strong>@Model.BatteringRamsInfo.Name</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.BatteringRamsInfo.Maintenance.ToString(StringFormat.Integer) <span class="si si-maintenance"></span>
        </div>
        <div class="col-2 col-form-label">
            @Model.BatteringRamsInfo.TroopCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.BatteringRamsInfo.CurrentCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.BatteringRamsInfo.CurrentTroopCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.BatteringRams, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BatteringRams, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <ul>
        <li>@Model.BatteringRamsInfo.Description</li>
        <li>Build cost: @Html.DisplayFor(m => m.BatteringRamsInfo.Cost)</li>
    </ul>

    <div class="row">
        <div class="col-2 col-form-label">
            <strong>@Model.ScalingLaddersInfo.Name</strong>
        </div>
        <div class="col-2 col-form-label">
            @Model.ScalingLaddersInfo.Maintenance.ToString(StringFormat.Integer) <span class="si si-maintenance"></span>
        </div>
        <div class="col-2 col-form-label">
            @Model.ScalingLaddersInfo.TroopCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.ScalingLaddersInfo.CurrentCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.ScalingLaddersInfo.CurrentTroopCount.ToString(StringFormat.Integer)
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.ScalingLadders, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ScalingLadders, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <ul>
        <li>@Model.ScalingLaddersInfo.Description</li>
        <li>Build cost: @Html.DisplayFor(m => m.ScalingLaddersInfo.Cost)</li>
    </ul>

    <div class="row">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary form-control" value="build">Build</button>
        </div>
    </div>

    <div class="row site-spaced-small">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-secondary form-control" value="discard">Discard</button>
        </div>
    </div>
}