@model WarOfEmpires.Models.Empires.TaxModel

@{
    ViewBag.Title = "Taxes";
}

<h2>Taxes</h2>

<p>
    Here you can set the tax rate for your workers. The higher the tax rate, the more gold you get per turn, but the less resources you get per turn.
</p>

<form method="post" data-success-message="Your tax rate was changed.">
    <input type="hidden" asp-for="BaseGoldPerTurn" />
    <input type="hidden" asp-for="BaseFoodPerTurn" />
    <input type="hidden" asp-for="BaseWoodPerTurn" />
    <input type="hidden" asp-for="BaseStonePerTurn" />
    <input type="hidden" asp-for="BaseOrePerTurn" />

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label asp-for="Tax"></label>
                <input type="text" asp-for="Tax" class="form-control" readonly tabindex="-1" />
                <div id="tax-rangeslider" data-range-start="0" data-step-size="5" data-step-count="20" data-value="@Model.Tax"></div>
                <span asp-validation-for="Tax" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3 mb-3"><button type="submit" class="btn btn-primary w-100">Set</button></div>
    </div>

    <div class="row">
        <div class="col-6 col-md-3 col-xl-2 offset-xl-1">
            <div class="mb-3">
                <label>Gold production</label>
                <input type="text" asp-for="CurrentGoldPerWorkerPerTurn" class="form-control" readonly tabindex="-1" />
            </div>
        </div>

        <div class="col-6 col-md-3 col-xl-2">
            <div class="mb-3">
                <label>Food production</label>
                <input type="text" asp-for="CurrentFoodPerWorkerPerTurn" class="form-control" readonly tabindex="-1" />
            </div>
        </div>

        <div class="col-6 col-md-3 col-xl-2">
            <div class="mb-3">
                <label>Wood production</label>
                <input type="text" asp-for="CurrentWoodPerWorkerPerTurn" class="form-control" readonly tabindex="-1" />
            </div>
        </div>

        <div class="col-6 col-md-3 col-xl-2">
            <div class="mb-3">
                <label>Stone production</label>
                <input type="text" asp-for="CurrentStonePerWorkerPerTurn" class="form-control" readonly tabindex="-1" />
            </div>
        </div>

        <div class="col-6 col-md-3 col-xl-2">
            <div class="mb-3">
                <label>Ore production</label>
                <input type="text" asp-for="CurrentOrePerWorkerPerTurn" class="form-control" readonly tabindex="-1" />
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#tax-rangeslider').rangeslider();
        $('#tax-rangeslider').on('rangeslider.valueChanged', function (event, tax) {
            $('#Tax').val(tax);
            $('#CurrentGoldPerWorkerPerTurn').val(Math.floor(tax / 100 * @Model.BaseGoldPerTurn));
            $('#CurrentFoodPerWorkerPerTurn').val(Math.floor((100 - tax) / 100 * @Model.BaseFoodPerTurn));
            $('#CurrentWoodPerWorkerPerTurn').val(Math.floor((100 - tax) / 100 * @Model.BaseWoodPerTurn));
            $('#CurrentStonePerWorkerPerTurn').val(Math.floor((100 - tax) / 100 * @Model.BaseStonePerTurn));
            $('#CurrentOrePerWorkerPerTurn').val(Math.floor((100 - tax) / 100 * @Model.BaseOrePerTurn));
        });
    });
</script>
