@{
    ViewBag.Title = "Troop buildings";
}

<h2>Troop buildings</h2>

<p>
    Here you can upgrade your armoury, forge and other troop buildings.
</p>

<building-totals />

<div class="row">
    <div class="col-12 col-md-6 col-lg-4 partial-content" data-partial-url="@Url.Action("_Building", "Empire", new { BuildingType = "ArcheryRange" })">
    </div>

    <div class="col-12 col-md-6 col-lg-4 partial-content" data-partial-url="@Url.Action("_Building", "Empire", new { BuildingType = "CavalryRange" })">
    </div>

    <div class="col-12 col-md-6 col-lg-4 partial-content" data-partial-url="@Url.Action("_Building", "Empire", new { BuildingType = "FootmanRange" })">
    </div>

    <div class="col-12 col-md-6 col-lg-4 partial-content" data-partial-url="@Url.Action("_Building", "Empire", new { BuildingType = "Forge" })">
    </div>

    <div class="col-12 col-md-6 col-lg-4 partial-content" data-partial-url="@Url.Action("_Building", "Empire", new { BuildingType = "Armoury" })">
    </div>
</div>