@model WarOfEmpires.Models.Empires.TroopsModel

@{
    ViewBag.Title = "Troops";
}

<h2>Troops</h2>

<p>
    Here you can train or untrain your troops.
</p>

<ul class="text-muted">
    <li>Peasants available for training: @Model.CurrentPeasants.ToString(StringFormat.Integer)</li>
    <li>Mercenary training cost: <vc:resources model="Model.MercenaryTrainingCost" /></li>

    @if (Model.HasUpkeepRunOut) {
        <li class="text-danger">You aren't able to afford the upkeep costs; your workers have stopped working and your mercenaries have left your empire</li>
    }
    else if (Model.WillUpkeepRunOut) {
        <li class="text-danger">You will run out of the food and gold required for upkeep in the next 8 hours; if you run out, your workers will stop working and your mercenaries will leave your empire</li>
    }

    @if (Model.HasSoldierShortage) {
        <li class="text-danger">You don't have enough soldiers to protect your empire; train more of your peasants to be soldiers to stop scaring off new recruits</li>
    }
</ul>

<housing-totals />

<form method="post" data-success-message-train="Your troops were trained." data-success-message-untrain="Your troops were untrained." data-success-message-heal="Your troops were healed.">
    <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

    <input type="hidden" asp-for="Command" />
    <input type="hidden" asp-for="CurrentPeasants" />
    <input type="hidden" asp-for="CurrentStamina" />
    <input type="hidden" asp-for="MercenaryTrainingCost.Gold" />
    <input type="hidden" asp-for="MercenaryTrainingCost.Food" />
    <input type="hidden" asp-for="MercenaryTrainingCost.Wood" />
    <input type="hidden" asp-for="MercenaryTrainingCost.Stone" />
    <input type="hidden" asp-for="MercenaryTrainingCost.Ore" />

    <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
            <h4 class="mt-3">Stamina</h4>

            <div class="mb-3">
                <label>Current stamina</label>
                <div class="form-control" readonly="readonly">@Model.CurrentStamina.ToString(StringFormat.Integer)</div>
            </div>

            <div class="mb-3">
                <label asp-for="StaminaToHeal"></label>
                <input type="text" asp-for="StaminaToHeal" class="form-control" />
                <span asp-validation-for="StaminaToHeal" class="small form-text text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6 offset-6 col-xl-12 offset-xl-0"><button type="submit" class="btn btn-primary w-100" value="heal">Heal troops</button></div>
            </div>
        </div>

        @for (var i = 0; i < Model.Troops.Count; i++) {
            <input type="hidden" asp-for="Troops[i].Type" />
            <input type="hidden" asp-for="Troops[i].Name" />
            <input type="hidden" asp-for="Troops[i].Cost.Gold" />
            <input type="hidden" asp-for="Troops[i].Cost.Food" />
            <input type="hidden" asp-for="Troops[i].Cost.Wood" />
            <input type="hidden" asp-for="Troops[i].Cost.Stone" />
            <input type="hidden" asp-for="Troops[i].Cost.Ore" />
            <input type="hidden" asp-for="Troops[i].CurrentSoldiers" />
            <input type="hidden" asp-for="Troops[i].CurrentMercenaries" />

            <div class="col-12 col-md-6 col-xl-3">
                <h4 class="mt-3">@Model.Troops[i].Name</h4>

                <ul class="text-muted">
                    <li>Training cost: <vc:resources model="Model.Troops[i].Cost" /></li>
                </ul>

                <div class="mb-3">
                    <label>Current soldiers</label>
                    <div class="form-control" readonly="readonly">@Model.Troops[i].CurrentSoldiers.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label>Current mercenaries</label>
                    <div class="form-control" readonly="readonly">@Model.Troops[i].CurrentMercenaries.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label>Soldiers</label>
                    <input type="text" asp-for="Troops[i].Soldiers" class="form-control" />
                    <span asp-validation-for="Troops[i].Soldiers" class="small form-text text-danger"></span>
                </div>

                <div class="mb-3">
                    <label>Mercenaries</label>
                    <input type="text" asp-for="Troops[i].Mercenaries" class="form-control" />
                    <span asp-validation-for="Troops[i].Mercenaries" class="small form-text text-danger"></span>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-primary w-100" value="train">Train troops</button></div>
    </div>

    <div class="row mt-1">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-secondary w-100" value="untrain">Untrain troops</button></div>
    </div>
</form>