@model WarOfEmpires.Models.Empires.TroopModel

@{
    ViewBag.Title = "Troops";
}

<h2>Troops</h2>

<p>
    Here you can train or untrain your troops.
</p>

<ul>
    <li>Peasants available for training: @Model.CurrentPeasants.ToString(StringFormat.Integer)</li>
    <li>Archer training cost: @Html.DisplayFor(m => m.ArcherTrainingCost)</li>
    <li>Cavalry training cost: @Html.DisplayFor(m => m.CavalryTrainingCost)</li>
    <li>Footman training cost: @Html.DisplayFor(m => m.FootmanTrainingCost)</li>
    <li>Mercenary training cost: @Html.DisplayFor(m => m.MercenaryTrainingCost)</li>

    @if (Model.HasUpkeepRunOut) {
        <li class="text-danger">You aren't able to afford the upkeep costs; your workers have stopped working and your mercenaries have left your empire</li>
    }
    else if (Model.WillUpkeepRunOut) {
        <li class="text-danger">You will run out of the food and gold required for upkeep in the next 8 hours; if you run out, your workers will stop working and your mercenaries will leave your empire</li>
    }

    @if (Model.HasSoldierShortage) {
        <li class="text-danger">You don't have enough soldiers to protect your empire; train more of your peasants to be soldiers to stop scaring off new recruits</li>
    }
</ul>

<div id="empire-housing-totals" class="partial-content">
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = "Your people were reassigned." })) {
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })
    @Html.HiddenFor(m => m.Command)
    @Html.HiddenFor(m => m.CurrentPeasants)
    @Html.HiddenFor(m => m.CurrentArchers)
    @Html.HiddenFor(m => m.CurrentMercenaryArchers)
    @Html.HiddenFor(m => m.CurrentCavalry)
    @Html.HiddenFor(m => m.CurrentMercenaryCavalry)
    @Html.HiddenFor(m => m.CurrentFootmen)
    @Html.HiddenFor(m => m.CurrentMercenaryFootmen)
    @Html.HiddenFor(m => m.ArcherTrainingCost)
    @Html.HiddenFor(m => m.CavalryTrainingCost)
    @Html.HiddenFor(m => m.FootmanTrainingCost)
    @Html.HiddenFor(m => m.MercenaryTrainingCost)

    <div class="row">
        <div class="col-4 col-form-label">
        </div>
        <div class="col-2 col-form-label">
            <strong>Soldiers</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Mercenaries</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Soldiers</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Mercenaries</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            @Html.LabelFor(m => m.Archers)
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentArchers.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentMercenaryArchers.ToString(StringFormat.Integer)
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.Archers, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Archers, null, new { @class = "small form-text text-danger" })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.MercenaryArchers, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MercenaryArchers, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            @Html.LabelFor(m => m.Cavalry)
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentCavalry.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentMercenaryCavalry.ToString(StringFormat.Integer)
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.Cavalry, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cavalry, null, new { @class = "small form-text text-danger" })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.MercenaryCavalry, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MercenaryCavalry, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            @Html.LabelFor(m => m.Footmen)
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentFootmen.ToString(StringFormat.Integer)
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentMercenaryFootmen.ToString(StringFormat.Integer)
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.Footmen, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Footmen, null, new { @class = "small form-text text-danger" })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.MercenaryFootmen, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MercenaryFootmen, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary form-control" value="train">Train Troops</button>
        </div>
    </div>

    <div class="row site-spaced-small">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-secondary form-control" value="untrain">Untrain Troops</button>
        </div>
    </div>
}
