@model WarOfEmpires.Models.Empires.WorkerModel

@{
    ViewBag.Title = "Workers";
}

<h2>Workers</h2>

<p>
    Here you can train or untrain your workers. You currently have <strong>@Model.CurrentPeasants</strong> peasants available for training and your
    workers are currently producing <strong>@Model.CurrentGoldPerTurn</strong> gold per turn.
</p>

<div class="row">
    <div class="col-4 col-form-label">
        Gold production per turn
    </div>
    <div class="col-8">
        <!-- Example slider -->
        <input type="range" min="0" max="100" class="form-control-range" />
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = "Your peasants were reassigned." })) {
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })
    @Html.HiddenFor(m => m.Command)

    <div class="row">
        <div class="col-4 col-form-label">
        </div>
        <div class="col-2 col-form-label">
            <strong>Workers</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Production per worker</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Total production</strong>
        </div>
        <div class="col-2">
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Farmers
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentFarmers
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentFoodPerWorkerPerTurn
        </div>
        <div class="col-2">
            @Model.CurrentFoodPerTurn
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.Farmers, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Farmers, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Wood workers
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentWoodWorkers
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentWoodPerWorkerPerTurn
        </div>
        <div class="col-2">
            @Model.CurrentWoodPerTurn
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.WoodWorkers, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.WoodWorkers, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Stone masons
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentStoneMasons
        </div>
        <div class="col-2 col-form-label">
            @Model.CurrentStonePerWorkerPerTurn
        </div>
        <div class="col-2">
            @Model.CurrentStonePerTurn
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.StoneMasons, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StoneMasons, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Ore miners
        </div>
        <div class="col-2">
            @Model.CurrentOreMiners
        </div>
        <div class="col-2">
            @Model.CurrentOrePerWorkerPerTurn
        </div>
        <div class="col-2">
            @Model.CurrentOrePerTurn
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.OreMiners, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OreMiners, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary form-control" value="train">Train</button>
        </div>
    </div>

    <div class="row site-spaced-small">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-secondary form-control" value="untrain">Untrain</button>
        </div>
    </div>
}
