@model WarOfEmpires.Models.Empires.WorkerModel

@{
    ViewBag.Title = "Workers";
}

<h2>Workers</h2>

<p>
    Here you can train or untrain your workers to make sure you produce the resources you require.
</p>

<ul>
    <li>Peasants available for training: @Model.CurrentPeasants</li>
    <li>Gold production per turn: @Model.CurrentGoldPerTurn</li>
    <li>Food cost per turn: @Model.FoodCostPerTurn</li>
    <li>Recruits per day: @Model.RecruitsPerDay</li>
</ul>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = "Your peasants were reassigned." })) {
    @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })
    @Html.HiddenFor(m => m.Command)
    @Html.HiddenFor(m => m.CurrentGoldPerTurn)
    @Html.HiddenFor(m => m.CurrentGoldPerWorkerPerTurn)
    @Html.HiddenFor(m => m.CurrentPeasants)
    @Html.HiddenFor(m => m.FoodCostPerTurn)
    @Html.HiddenFor(m => m.RecruitsPerDay)

    <div class="row">
        <div class="col-4 col-form-label">
        </div>
        <div class="col-2 col-form-label">
            <strong>Workers</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Production per worker</strong>
        </div>
        <div class="col-2 col-form-label">
            <strong>Total production</strong>
        </div>
        <div class="col-2">
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Farmers
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentFarmers, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentFoodPerWorkerPerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentFoodPerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.Farmers, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Farmers, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Wood workers
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentWoodWorkers, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentWoodPerWorkerPerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentWoodPerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.WoodWorkers, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.WoodWorkers, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Stone masons
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentStoneMasons, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentStonePerWorkerPerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentStonePerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.StoneMasons, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StoneMasons, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-form-label">
            Ore miners
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentOreMiners, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentOrePerWorkerPerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.CurrentOrePerTurn, new { @class = "form-control-plaintext", @readonly = "readonly", tabindex = -1 })
        </div>
        <div class="col-2">
            @Html.TextBoxFor(m => m.OreMiners, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OreMiners, null, new { @class = "small form-text text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary form-control" value="train">Train</button>
        </div>
    </div>

    <div class="row site-spaced-small">
        <div class="col-10"></div>

        <div class="col-2">
            <button type="submit" class="btn btn-secondary form-control" value="untrain">Untrain</button>
        </div>
    </div>
}
