@model System.Collections.Generic.IEnumerable<WarOfEmpires.Models.Markets.CaravanViewModel>

@if (Model.Any()) {
    <h3 class="mt-3">Current caravans</h3>

    <p>
        When you withdraw a caravan, a random amount of resources will be lost. The longer the caravan has been on the market, the higher the amount of resources
        lost will generally be.
    </p>

    <table class="table table-borderless table-striped">
        <thead>
            <tr>
                <th class="d-none d-md-table-cell">Date</th>
                <th>Food</th>
                <th>Wood</th>
                <th>Stone</th>
                <th>Ore</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var caravan in Model) {
                <tr>
                    <td class="table-form-label d-none d-lg-table-cell">@caravan.Date.ToString(StringFormat.Date)</td>
                    <td class="table-form-label">@caravan.Food.ToString(StringFormat.Integer) at @caravan.FoodPrice.ToString(StringFormat.Integer) <icon type="Gold" /></td>
                    <td class="table-form-label">@caravan.Wood.ToString(StringFormat.Integer) at @caravan.WoodPrice.ToString(StringFormat.Integer) <icon type="Gold" /></td>
                    <td class="table-form-label">@caravan.Stone.ToString(StringFormat.Integer) at @caravan.StonePrice.ToString(StringFormat.Integer) <icon type="Gold" /></td>
                    <td class="table-form-label">@caravan.Ore.ToString(StringFormat.Integer) at @caravan.OrePrice.ToString(StringFormat.Integer) <icon type="Gold" /></td>
                    <td>
                        <form method="post" asp-action="@nameof(Market.WithdrawCaravan)" data-success-message="Your caravan has been withdrawn.">
                            <input type="hidden" name="id" value="@caravan.Id" />

                            <button type="submit" class="btn btn-secondary w-100">
                                <span class="d-none d-lg-inline">Withdraw</span>
                                <span class="d-lg-none">X</span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}