@model WarOfEmpires.Models.Players.CreatePlayerModel

@{
    ViewBag.Title = "Create player";
}

<h2>Create player</h2>

<p>Fill out the details below to start playing.</p>

<form method="post" class="html-only" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label asp-for="DisplayName" class="site-required"></label>
                <input type="text" asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="small form-text text-danger"></span>
            </div>

            <div>
                <label asp-for="Race" class="site-required">Race</label>

                @for (var i = 0; i < Model.Races.Count; i++) {
                    <input type="hidden" asp-for="Races[i].Race" />
                    <input type="hidden" asp-for="Races[i].Name" />
                    <input type="hidden" asp-for="Races[i].Description" />
                    <input type="hidden" asp-for="Races[i].FarmerBonus" />
                    <input type="hidden" asp-for="Races[i].WoodWorkerBonus" />
                    <input type="hidden" asp-for="Races[i].StoneMasonBonus" />
                    <input type="hidden" asp-for="Races[i].OreMinerBonus" />
                    <input type="hidden" asp-for="Races[i].ArcherBonus" />
                    <input type="hidden" asp-for="Races[i].CavalryBonus" />
                    <input type="hidden" asp-for="Races[i].FootmenBonus" />

                    <div>
                        <div class="form-check mb-3">
                            <input type="radio" asp-for="Race" id="Race-@Model.Races[i].Race" value="@Model.Races[i].Race" class="form-check-input" checked="@(Model.Race == Model.Races[i].Race)" />
                            <label class="form-check-label" for="Race-@Model.Races[i].Race">@Model.Races[i].Name <span class="text-muted">- @Model.Races[i].Description</span></label>

                            <div class="form-check-details row mt-3">
                                <div class="col-6">
                                    <div>Production bonuses</div>

                                    <ul>
                                        <li>Farmers: <span condition="Model.Races[i].FarmerBonus < 0" class-name="text-warning">@Model.Races[i].FarmerBonus.ToString(StringFormat.Percentage)</span></li>
                                        <li>Wood workers: <span condition="Model.Races[i].WoodWorkerBonus < 0" class-name="text-warning">@Model.Races[i].WoodWorkerBonus.ToString(StringFormat.Percentage)</span></li>
                                        <li>Stone masons: <span condition="Model.Races[i].StoneMasonBonus < 0" class-name="text-warning">@Model.Races[i].StoneMasonBonus.ToString(StringFormat.Percentage)</span></li>
                                        <li>Ore miners: <span condition="Model.Races[i].OreMinerBonus < 0" class-name="text-warning">@Model.Races[i].OreMinerBonus.ToString(StringFormat.Percentage)</span></li>
                                    </ul>
                                </div>

                                <div class="col-6">
                                    <div>Troop bonuses</div>

                                    <ul>
                                        <li>Archers: <span condition="Model.Races[i].ArcherBonus < 0" class-name="text-warning">@Model.Races[i].ArcherBonus.ToString(StringFormat.Percentage)</span></li>
                                        <li>Cavalry: <span condition="Model.Races[i].CavalryBonus < 0" class-name="text-warning">@Model.Races[i].CavalryBonus.ToString(StringFormat.Percentage)</span></li>
                                        <li>Footmen: <span condition="Model.Races[i].FootmenBonus < 0" class-name="text-warning">@Model.Races[i].FootmenBonus.ToString(StringFormat.Percentage)</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <span asp-validation-for="Race" class="small form-text text-danger"></span>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label asp-for="FullName"></label>
                <input type="text" asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Avatar"></label>
                <input type="file" asp-for="Avatar" class="form-control" />
                <div class="form-text">It can take up to 10 minutes for your new avatar to be available on our CDN.</div>
                <span asp-validation-for="Avatar" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
    </div>
</form>
