@model WarOfEmpires.Models.Players.PlayerDetailsViewModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>@Model.DisplayName</h2>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="text-right">
            <div class="btn-group">
                @if (Model.CanBeAttacked) {
                    @Html.ActionLink("Attack", "Execute", "Attack", new { DefenderId = Model.Id }, new { @class = "btn btn-primary" })
                }

                @Html.ActionLink("Send message", "Send", "Message", new { RecipientId = Model.Id }, new { @class = "btn btn-secondary" })

                @if (AuthorizationService.IsAuthorized(new AllianceAuthorizationRequest() { CanInvite = true })) {
                    @Html.ActionLink("Invite into alliance", "Invite", "Alliance", new { PlayerId = Model.Id }, new { @class = "btn btn-secondary" });
                }
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.Status)) {
            <div class="form-group">
                <label>Status</label>
                <div class="form-control" readonly="readonly">@Model.Status</div>
            </div>
        }

        <div class="form-group">
            <label>Rank</label>
            <div class="form-control" readonly="readonly">@Model.Rank.ToString(StringFormat.Integer)</div>
        </div>

        <div class="form-group">
            <label>Display name</label>
            <div class="form-control" readonly="readonly">@Model.DisplayName</div>
        </div>

        @if (Model.AllianceId.HasValue) {
            <div class="form-group">
                <label>Alliance</label>
                @Html.ActionLink($"{Model.AllianceCode} - {Model.AllianceName}", "Details", "Alliance", new { id = Model.AllianceId }, new { @class = "w-100 btn btn-secondary text-start " })
            </div>
        }

        <div class="form-group">
            <label>Title</label>
            <div class="form-control" readonly="readonly">@Model.Title</div>
        </div>

        <div class="form-group">
            <label>Population</label>
            <div class="form-control" readonly="readonly">@Model.Population.ToString(StringFormat.Integer)</div>
        </div>
    </div>
</div>