@model WarOfEmpires.Models.Players.PlayerDetailsViewModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>@Model.DisplayName</h2>

<p>
    @Html.ActionLink("Send message", "Send", "Message", new { RecipientId = Model.Id }, null)
    |
    @Html.ActionLink("Attack", "Execute", "Attack", new { DefenderId = Model.Id }, null)
</p>

<div class="row">
    <div class="col-3">
        Id
    </div>
    <div class="col-9">
        @Model.Id
    </div>
</div>

<div class="row">
    <div class="col-3">
        Display name
    </div>
    <div class="col-9">
        @Model.DisplayName
    </div>
</div>

<div class="row">
    <div class="col-3">
        Population
    </div>
    <div class="col-9">
        @Model.Population
    </div>
</div>