@model WarOfEmpires.Models.Players.PlayerDetailsViewModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>@Model.DisplayName</h2>


<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="text-right">
            <div class="btn-group">
                @Html.ActionLink("Attack", "Execute", "Attack", new { DefenderId = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Send message", "Send", "Message", new { RecipientId = Model.Id }, new { @class = "btn btn-secondary" })

                @*TODO: hide when current user is not allowed to invite or not in an alliance*@
                @Html.ActionLink("Invite into alliance", "Invite", "Alliance", new { PlayerId = Model.Id }, new { @class = "btn btn-secondary" })
            </div>
        </div>

        <div class="form-group">
            <label>Rank</label>
            @Html.TextBox(nameof(Model.Rank), Model.Rank.ToString(StringFormat.Integer), new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Display name</label>
            @Html.TextBox(nameof(Model.DisplayName), Model.DisplayName, new { @class = "form-control", @readonly = "readonly" })
        </div>

        @if (Model.AllianceId.HasValue) {
            <div class="form-group">
                <label>Alliance code</label>
                @Html.TextBox(nameof(Model.AllianceCode), Model.AllianceCode, new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="form-group">
                <label>Alliance name</label>
                @Html.TextBox(nameof(Model.AllianceName), Model.AllianceName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        }

        <div class="form-group">
            <label>Title</label>
            @Html.TextBox(nameof(Model.Title), Model.Title, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Population</label>
            @Html.TextBox(nameof(Model.Population), Model.Population.ToString(StringFormat.Integer), new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>