@model WarOfEmpires.Models.Players.PlayerDetailsViewModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>@Model.DisplayName</h2>

<p>
    @Html.ActionLink("Send message", "Send", "Message", new { RecipientId = Model.Id }, null)
    |
    @Html.ActionLink("Attack", "Execute", "Attack", new { DefenderId = Model.Id }, null)
</p>

<div class="row">
    <div class="col-3">
        Rank
    </div>
    <div class="col-9">
        @Model.Rank.ToString(StringFormat.Integer)
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.AllianceCode)) {
    <div class="row">
        <div class="col-3">
            Alliance code
        </div>
        <div class="col-9">
            @Model.AllianceCode
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.AllianceName)) {
    <div class="row">
        <div class="col-3">
            Alliance name
        </div>
        <div class="col-9">
            @Model.AllianceName
        </div>
    </div>
}

<div class="row">
    <div class="col-3">
        Display name
    </div>
    <div class="col-9">
        @Model.DisplayName
    </div>
</div>

<div class="row">
    <div class="col-3">
        Title
    </div>
    <div class="col-9">
        @Model.Title
    </div>
</div>

<div class="row">
    <div class="col-3">
        Population
    </div>
    <div class="col-9">
        @Model.Population.ToString(StringFormat.Integer)
    </div>
</div>