@model WarOfEmpires.Models.Players.PlayerDetailsViewModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>@Model.DisplayName</h2>

<p>
    @Html.ActionLink("Send message", "Send", "Message", new { RecipientId = Model.Id }, null)
    |
    @Html.ActionLink("Attack", "Execute", "Attack", new { DefenderId = Model.Id }, null)
    |
    @*TODO: hide when current user is not allowed to invite or not in an alliance*@
    @Html.ActionLink("Invite into alliance", "Invite", "Alliance", new { PlayerId = Model.Id}, null)
</p>

<div class="row">
    <div class="col-3">
        <strong>Rank</strong>
    </div>
    <div class="col-9">
        @Model.Rank.ToString(StringFormat.Integer)
    </div>
</div>

<div class="row">
    <div class="col-3">
        <strong>Display name</strong>
    </div>
    <div class="col-9">
        @Model.DisplayName
    </div>
</div>

@if (Model.AllianceId.HasValue) {
    <div class="row">
        <div class="col-3">
            <strong>Alliance code</strong>
        </div>
        <div class="col-9">
            @Html.ActionLink(Model.AllianceCode, "Details", "Alliance", new { id = Model.AllianceId }, null)
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <strong>Alliance name</strong>
        </div>
        <div class="col-9">
            @Html.ActionLink(Model.AllianceName, "Details", "Alliance", new { id = Model.AllianceId }, null)
        </div>
    </div>
}

<div class="row">
    <div class="col-3">
        <strong>Title</strong>
    </div>
    <div class="col-9">
        @Model.Title
    </div>
</div>

<div class="row">
    <div class="col-3">
        <strong>Population</strong>
    </div>
    <div class="col-9">
        @Model.Population.ToString(StringFormat.Integer)
    </div>
</div>