@model WarOfEmpires.Models.Players.PlayerDetailsViewModel
@inject AuthorizationService AuthorizationService

@{
    ViewBag.Title = Model.DisplayName;

    bool hasProfile = !string.IsNullOrEmpty(Model.FullName) || !string.IsNullOrEmpty(Model.AvatarLocation) || !string.IsNullOrEmpty(Model.Description);
}

<h2>@Model.DisplayName</h2>

<div class="row">
    <div class="col-12" condition="!hasProfile" class-name="col-md-6 offset-md-3">
        <div class="text-end" condition="hasProfile" class-name="mb-3">
            <div class="btn-group">
                @if (Model.CanBeAttacked) {
                    <a asp-controller="@Attack.Route" asp-action="@nameof(Attack.Execute)" asp-route-defenderId="@Model.Id" class="btn btn-primary">Attack</a>
                }

                <a asp-controller="@Message.Route" asp-action="@nameof(Message.Send)" asp-route-recipientId="@Model.Id" class="btn btn-secondary">Send message</a>

                @if (AuthorizationService.IsAuthorized(new AllianceAuthorizationRequest() { CanInvite = true })) {
                    <a asp-controller="@Alliance.Route" asp-action="@nameof(Alliance.Invite)" asp-route-playerId="@Model.Id" class="btn btn-secondary">Invite into alliance</a>
                }

                <form method="post" asp-action="@nameof(Player.Block)" data-success-message="The player has been blocked.">
                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-secondary site-unrounded-start">Block</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6" condition="!hasProfile" class-name="offset-md-3">
        @if (!string.IsNullOrEmpty(Model.Status)) {
            <div class="mb-3">
                <label>Status</label>
                <div class="form-control site-form-control-status-@Model.Status.ToLower()" readonly="readonly">@Model.Status</div>
            </div>
        }

        <div class="mb-3">
            <label>Rank</label>
            <div class="form-control" readonly="readonly">@Model.Rank.ToString(StringFormat.Integer)</div>
        </div>

        <div class="mb-3">
            <label>Display name</label>
            <div class="form-control" readonly="readonly">@Model.DisplayName</div>
        </div>

        @if (Model.AllianceId.HasValue) {
            <div class="mb-3">
                <label>Alliance</label>
                <a asp-controller="@Alliance.Route" asp-action="@nameof(Alliance.Details)" asp-route-id="@Model.AllianceId" class="w-100 btn btn-secondary text-start">@Model.AllianceCode - @Model.AllianceName</a>
            </div>
        }

        <div class="mb-3">
            <label>Title</label>
            <div class="form-control" readonly="readonly">@Model.Title</div>
        </div>

        <div class="mb-3">
            <label>Population</label>
            <div class="form-control" readonly="readonly">@Model.Population.ToString(StringFormat.Integer)</div>
        </div>

        <div class="mb-3">
            <label>Defences</label>
            <div class="form-control" readonly="readonly">@Model.Defences</div>
        </div>

        @if (Model.GrandOverlordTime.HasValue) {
            <div class="mb-3">
                <label>Grand overlord time</label>
                <div class="form-control" readonly="readonly">@(((int)Model.GrandOverlordTime.Value.TotalHours).ToString(StringFormat.Integer)) hours and @Model.GrandOverlordTime.Value.Minutes.ToString(StringFormat.Integer) minutes</div>
            </div>
        }
    </div>

    @if (hasProfile) {
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label>Full name</label>
                <div class="form-control" readonly="readonly">@Model.FullName</div>
            </div>

            @if (!string.IsNullOrEmpty(Model.AvatarLocation)) {
                <div class="mb-3">
                    <img src="@Model.AvatarLocation" class="img-fluid" />
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Description)) {
                <div class="site-user-text">@Model.Description</div>
            }
        </div>
    }
</div>
