@model object

@{
    ViewBag.Title = "Player Home";
}

<h2>Player Home</h2>

<p>Welcome, [player]. Here's the state of your empire.</p>

<ul>
    <li class="text-danger">You have been <a asp-controller="@Attack.Route" asp-action="@nameof(Attack.Index)">attacked</a> [x] times and lost [x] mercenaries and [x] soldiers</li>
    <li class="text-danger">You aren't able to afford the upkeep costs; your workers have stopped working and your mercenaries have left your empire</li>
    <li class="text-danger">You will run out of the food and gold required for upkeep in the next 8 hours; if you run out, your workers will stop working and your mercenaries will leave your empire</li>
    <li class="text-danger">You don't have enough soldiers to protect your empire; train more of your peasants to be <a asp-controller="@Empire.Route" asp-action="@nameof(Empire.Troops)">soldiers</a> to stop scaring off new recruits</li>
    <li class="text-danger">You currently have <a asp-controller="@Empire.Route" asp-action="@nameof(Empire.EmpireBuildings)">housing room</a> for Model.TotalCapacity.ToString(StringFormat.Integer) occupants and are currently housing Model.TotalOccupancy.ToString(StringFormat.Integer) people</li>
    <li>You have new <a asp-controller="@Message.Route" asp-action="@nameof(Message.Index)">messages</a></li>
    <li>You have new <a asp-controller="@Alliance.Route" asp-action="@nameof(Alliance.ReceivedInvites)">alliance invites</a></li>
    <li>You have new <a asp-controller="@Alliance.Route" asp-action="@nameof(Alliance.Home)">alliance news</a></li>
    <li>You have new <a asp-controller="@Market.Route" asp-action="@nameof(Market.SellTransactions)">market sales</a></li>
    <li>Peasants available for training: Model.CurrentPeasants.ToString(StringFormat.Integer)</li>
</ul>