@model WarOfEmpires.Models.Security.RegisterUserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) {
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "site-required" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "small form-text text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "site-required" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control password-strength" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "small form-text text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "site-required" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "small form-text text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DisplayName, new { @class = "site-required" })
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DisplayName, null, new { @class = "small form-text text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary form-control">Submit</button></div>
    </div>
}